Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

docs: add ALLOWED_HOSTS in env.example
  .env.example
Due: none

build: update claude to always look to atomic design first
  CLAUDE.md
Due: prettier

docs: update linting direction
  CLAUDE.md
Due: prettier

docs: update current focus to Beta Demo — Housing Eviction Flow
  CLAUDE.md
Due: prettier

build: suppress prettier file-level output, show warnings only
  .pre-commit-config.yaml
Due: prettier

Read secrets from files in settings.py, not entrypoint export
  CLAUDE.md
  config/settings.py
  docker-compose.yml
  docs/SECURITY.md
  scripts/docker-entrypoint.sh
Due: prettier

Address review feedback: add tests, fix precedence bug, fix table
  CLAUDE.md
  config/settings.py
  config/tests/__init__.py
  config/tests/test_read_secret.py
Due: prettier

Migrate from SQLite to PostgreSQL (pgvector) for dev and prod
  .env.example
  .github/workflows/tests.yml
  CLAUDE.md
  Dockerfile
  README.md
  config/settings.py
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/SECURITY.md
  pyproject.toml
  scripts/docker-entrypoint.sh
  tox.ini
  uv.lock
Due: prettier, uv-lock-check

Address review feedback: postgres security and style fixes
  CLAUDE.md
  config/settings.py
  docker-compose.yml
Due: prettier

build: add prettier-plugin-django-cotton and fmt make targets Install plugin as devDependency for Django + Cotton template formatting. Add make fmt-check (dry run) and make fmt (write) targets.
  Makefile
  package-lock.json
  package.json
Due: prettier

feat(env):
  .env.example
Due: none

style(readmes): code format
  CLAUDE.md
  docs/ARCHITECTURE.md
Due: prettier

add postgres pass to env.example
  .env.example
Due: none

Read secrets from files in settings.py, not entrypoint export
  .env.example
  CLAUDE.md
  config/settings.py
  config/tests/__init__.py
  config/tests/test_read_secret.py
  docker-compose.yml
  docs/SECURITY.md
  scripts/docker-entrypoint.sh
  tox.ini
Due: prettier

Fix critical dj_database_url bug and address review feedback
  CLAUDE.md
  config/settings.py
Due: prettier

Replace dj-database-url with component-based DATABASES config
  CLAUDE.md
  chat/agents/base.py
  config/settings.py
  docker-compose.yml
  docs/SECURITY.md
  pyproject.toml
  tox.ini
Due: prettier, uv-lock-check

Require explicit SECRET_KEY, hardcode 'dev' for local Docker
  config/settings.py
  docker-compose.yml
  docs/SECURITY.md
Due: prettier

style(settings): code format
  CLAUDE.md
  config/settings.py
  config/tests/test_read_secret.py
  docs/SECURITY.md
  uv.lock
Due: prettier

feat(tox): update tox postgres host for docker dev environment
  tox.ini
Due: none

feat(workflows): export postgres host on tests workflow
  .github/workflows/tests.yml
  tox.ini
Due: prettier

feat(agents): pass drop_params as an arg to completions
  chat/agents/base.py
Due: none

docs(env): add postgres connection details to env.example for non-docker run
  .env.example
Due: none

docs(readmes): document adding OAI key as secrets file
  CLAUDE.md
  README.md
  chat/services/search_service.py
  docker-compose.yml
Due: prettier

feat(agents): add comment to enforce secrets file pattern if adding new providers
  chat/agents/base.py
Due: none

feat(config): move read_secret util out of settings
  config/secrets.py
  config/settings.py
  config/tests/test_read_secret.py
  docs/SECURITY.md
Due: prettier

build(docker): use different volumes for psql dev and prod
  docker-compose.yml
Due: prettier

feat(tests): import read_secret from config.secrets
  config/tests/test_read_secret.py
Due: none

Add pytest with postgres marker to split local and Docker tests
  CLAUDE.md
  Makefile
  chat/tests/test_agents.py
  chat/tests/test_case_views.py
  chat/tests/test_models.py
  chat/tests/test_services.py
  chat/tests/test_signals.py
  chat/tests/test_views.py
  config/tests/test_read_secret.py
  conftest.py
  portal/tests.py
  pyproject.toml
  scripts/docker-entrypoint.sh
  tox.ini
  uv.lock
Due: prettier, uv-lock-check

Fix pytest config: python_paths → pythonpath
  pyproject.toml
Due: uv-lock-check

Route make test through tox instead of raw uv run pytest
  CLAUDE.md
  Makefile
  tox.ini
Due: prettier

Add test dependency group so pytest is available in tox and Docker
  Dockerfile
  pyproject.toml
  tox.ini
Due: uv-lock-check

Switch to pytest via tox, use uv run --extra dev in Docker
  Dockerfile
  pyproject.toml
  scripts/docker-entrypoint.sh
  tox.ini
Due: uv-lock-check

feat(docker): create a separate env for running tests in docker
  Dockerfile
  Makefile
  scripts/docker-entrypoint.sh
Due: none

chore: add SVG favicon to base template
  templates/base.html
Due: csp-inline-check

fix(chat): use Literal type for ActionItem priority field
  chat/agents/litigant_assistant.py
Due: none

fix(chat): hide print button when action plan has no data
  templates/pages/action_plan.html
Due: csp-inline-check

fix(deps): add security minimum versions for transitive dependencies Pin aiohttp>=3.13.4, cryptography>=46.0.6, pygments>=2.20.0, requests>=2.33.0 to resolve Dependabot alerts #13-#25. Closes #224
  pyproject.toml
  uv.lock
Due: uv-lock-check
