Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

docs: remove duplicated sections from CLAUDE.md WCAG AA, Static Layout, Mobile-First, djlint formatting, and UTF-8 sections are already covered in the parent flp/CLAUDE.md.
  CLAUDE.md
Due: prettier

docs: claude guidance changes
  CLAUDE.md
Due: prettier

fix(i18n): use trans-as pattern for aria-label and alt in account/base.html Avoids double-quotes inside double-quoted HTML attributes.
  templates/account/base.html
Due: csp-inline-check

fix: lint
  templates/account/base.html
Due: csp-inline-check

feat(scripts): add tailwind install script
  scripts/install-tailwindcss.sh
Due: none

build(docker): simplify dockerfile for both dev and prod
  .dockerignore
  Dockerfile
Due: none

build(scrips): update entrypoint script
  docker-entrypoint.sh
  scripts/docker-entrypoint.sh
Due: none

feat(caddy): add caddy config
  Caddyfile
Due: none

feat(app): add whitenoise for loading static content
  app/config/settings.py
  pyproject.toml
Due: uv-lock-check

build(docker): create docker compose for dev
  docker-compose.yml
Due: prettier

build(package): update manage.py paths
  .gitignore
  Makefile
  tox.ini
Due: none

docs(package): update docs host url and .env.example
  .env.example
  README.md
  uv.lock
Due: prettier

build(docker) add server init script and prod docker compose overrides
  Dockerfile
  Makefile
  docker-compose.prod.yml
  scripts/deploy.sh
  scripts/init-server.sh
Due: prettier

docs(docs): update readme for staging deploy
  README.md
Due: prettier

fix(lint): lint fix in docker compose
  .pre-commit-config.yaml
  docker-compose.prod.yml
Due: prettier

feat(package): readd whitelist approach to dockerignore
  .dockerignore
Due: none

feat(package): scope pre-commit exclude to just docker-compose.prod
  .pre-commit-config.yaml
Due: prettier

feat(scripts): fix tailwind install script version
  scripts/install-tailwindcss.sh
Due: none

feat(docker): add uv caching stages back to dockerfile
  Dockerfile
Due: none

feat(app): add secret key raise for prod
  app/config/settings.py
Due: none

feat(package): fix prettierignore paths
  .prettierignore
  app/static/js/alpine.js
Due: prettier

feat(config): fallback to random secret in dev
  app/config/settings.py
Due: none

feat(package): fix more paths in pre-commit config
  .pre-commit-config.yaml
Due: prettier

feat(package): install submodules directly in pyproject
  app/__init__.py
  pyproject.toml
Due: uv-lock-check

feat(docker): fix dev tailwind commands
  Dockerfile
  scripts/docker-entrypoint.sh
Due: none

style(app): lint fixes
  app/chat/management/commands/cleanup_sessions.py
  app/chat/models.py
  app/chat/services/chat_service.py
  app/chat/services/search_service.py
  app/chat/tests/test_case_views.py
  app/chat/tests/test_models.py
  app/chat/tests/test_services.py
  app/chat/tests/test_signals.py
  app/chat/tests/test_views.py
Due: none

Add Caddy reverse proxy, simplify Dockerfile, add deployment scripts
  .dockerignore
  .env.example
  .gitignore
  Dockerfile
  Makefile
  deploy/caddy/Caddyfile.dev
  deploy/caddy/Caddyfile.prod
  docker-compose.yml
  fly.toml
  scripts/docker-entrypoint.sh
  scripts/init-server.sh
  scripts/install-tailwind.sh
Due: prettier

feat(docker): set default dev host to portal.localhost
  README.md
  docker-compose.yml
Due: prettier

feat(docker): add build dependency to dockerfile and staticfiles permissions
  Dockerfile
Due: none

feat(config): add allowed hosts to csrf origins
  config/settings.py
Due: none

feat(docker): run migrations in docker entrypoint
  scripts/docker-entrypoint.sh
Due: none

docs: word choice tweaks
  docs/legal-flow.md
Due: prettier

docs: rename
  docs/overview-mapped-legal-flow.md
Due: prettier

fix: address PR review — restore --no-dev, COPY tailwind binary, fix staticfiles perms
  Dockerfile
  docker-compose.yml
Due: prettier

fix: remove unused DOMAIN env from caddy-dev
  docker-compose.yml
Due: prettier

fix: widen dev ALLOWED_HOSTS, remove Fly.io, add prod healthcheck
  .github/workflows/fly-deploy.yml
  docker-compose.yml
  fly.toml
  portal/views.py
Due: prettier

docs: replace Fly.io with self-hosted deployment instructions
  CLAUDE.md
  config/settings.py
  docs/README.md
Due: prettier

style(docs): fix lint issues in readme and claudemd
  CLAUDE.md
  docs/README.md
Due: prettier

feat(docker): always add localhost to allowed hosts in prod
  docker-compose.yml
Due: prettier
