Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

test: add CaseInfo and TimelineEvent __str__ coverage 7 tests covering user/anonymous branch, case_type fallback, title vs content fallback, and content truncation. All mutation-tested. Closes #235
  chat/tests/test_models.py
Due: none

test: add action_plan view coverage 2 tests: populated case (all 9 context keys verified) and empty state (all defaults). Batch mutation-tested. Closes #239
  chat/tests/test_action_plan.py
Due: none

feat(tests): bake tox-uv into dockerfile, allow passthrough args to docker-test
  CLAUDE.md
  Dockerfile
  Makefile
  README.md
  pyproject.toml
  scripts/docker-entrypoint.sh
  uv.lock
Due: prettier, uv-lock-check

style(readme): format tweak
  README.md
Due: prettier

feat(pyproject): update uv lock to resolve conflicts
  pyproject.toml
  uv.lock
Due: uv-lock-check

style(tests): code format
  chat/tests/test_action_plan.py
Due: none

chore: add QA round issue template Reusable template for recurring QA testing rounds with QA URL, dev checklist, and tester feedback sections. Closes #255
  .github/ISSUE_TEMPLATE/qa-round.md
Due: prettier

chore: unify make test to auto-detect Docker Single 'make test' replaces 'make test' + 'make docker-test'. Auto-detects whether Docker dev container is running and picks the right suite. Closes #263
  CLAUDE.md
  Makefile
Due: prettier

chore: make test defaults to quiet output Swap test/test-q: quiet mode (failures + summary only) is now the default. Use make test-v for full verbose tox + pytest output. Closes #274
  Makefile
  tox.ini
Due: none

refactor: extract c-molecules.form-errors from 5 form templates
  CLAUDE.md
  templates/account/login.html
  templates/account/password_reset.html
  templates/account/password_reset_from_key.html
  templates/account/signup.html
  templates/cotton/molecules/form_errors.html
  templates/pages/profile/edit.html
  templates/pages/style_guide.html
Due: prettier, csp-inline-check

fix(chat): upsert action_items in case_save for symmetry with key_dates
  chat/views.py
Due: none

refactor: wire Cotton sidebar molecules into chat page
  templates/cotton/molecules/action_item.html
  templates/cotton/molecules/deadline_card.html
  templates/cotton/molecules/sidebar_section.html
  templates/pages/action_plan.html
  templates/pages/chat.html
  templates/pages/style_guide.html
Due: csp-inline-check

refactor(chat): add resolution model fields and update to_dict
  chat/migrations/0007_resolution_fields.py
  chat/models.py
  chat/tests/test_models.py
Due: none

fix(chat): replace deprecated Pydantic class Config with ConfigDict
  chat/agents/base.py
Due: none

feat(chat): status-aware case endpoints, action item toggle, archive
  chat/agents/litigant_assistant.py
  chat/tests/test_case_views.py
  chat/urls.py
  chat/views.py
Due: none

feat(chat): Alpine resolution state, action item and deadline toggles
  static/js/chat.js
Due: prettier

feat(chat): wire resolution UI in sidebar templates
  chat/models.py
  chat/tests/test_models.py
  templates/pages/chat.html
Due: csp-inline-check

fix(a11y): add tabindex to action item checkboxes for keyboard nav
  templates/pages/chat.html
Due: csp-inline-check

ci: add CD pipeline and QA deploy workflow
  .github/workflows/cd.yml
  docker-compose.yml
  docs/QA-DEPLOY.md
Due: prettier

fix: exempt /health/ from SSL redirect, update QA domain
  config/settings.py
  docs/QA-DEPLOY.md
Due: prettier

chore: add docker-rebuild make target for QA deploys
  Makefile
Due: none

docs: add QA environment to CLAUDE.md
  CLAUDE.md
  docs/QA-DEPLOY.md
Due: prettier

fix(ui): allow 2-line topic card descriptions
  src/css/main.css
Due: prettier

fix(ui): hide user email in header, show generic logged-in state
  templates/cotton/molecules/user_menu.html
Due: csp-inline-check

fix(ui): also hide email in mobile account section
  templates/cotton/organisms/header.html
Due: csp-inline-check

test(portal): flip header email test to assert privacy contract
  portal/tests.py
Due: none

fix(ui): enlarge sign-in logo and use logo molecule
  templates/cotton/organisms/auth_layout.html
Due: csp-inline-check

docs: correct local dev URL to http://localhost (no port)
  CLAUDE.md
  docs/CHANGES.md
  docs/COMPONENT_LIBRARY.md
  docs/README.md
Due: prettier

feat(chat): add ND adult name change prompt (combined topic+jurisdiction)
  chat/prompts/__init__.py
  chat/prompts/adult_name_change_nd.py
Due: none

feat(prompts): enhance Base with planning-log patterns
  chat/prompts/base.py
Due: none

feat(prompts): add Phase prompt layer (triage/prepare/resolve)
  chat/prompts/phases/__init__.py
  chat/prompts/phases/prepare.py
  chat/prompts/phases/resolve.py
  chat/prompts/phases/triage.py
Due: none

docs: add ND adult name change demo planning log
  docs/nd-name-change-planning-log.md
Due: prettier

docs: add Sandra happy path narrative for ND adult name change
  docs/happy-path-sandra.md
Due: prettier

chore: add make pre-commit target for lint+test gating
  CLAUDE.md
  Makefile
Due: prettier

docs: add prompts-as-infrastructure architecture note
  docs/prompts-as-infra.md
Due: prettier

refactor(prompts): split combined prompts into Topic + Court layers
  chat/prompts/__init__.py
  chat/prompts/courts/__init__.py
  chat/prompts/courts/dupage_il.py
  chat/prompts/courts/nd.py
  chat/prompts/topics/__init__.py
  chat/prompts/topics/adult_name_change.py
  chat/prompts/topics/eviction.py
Due: none

feat(prompts): update build_system_prompt to (phase, topic, court)
  chat/agents/base.py
  chat/agents/litigant_assistant.py
  chat/prompts/__init__.py
  chat/prompts/adult_name_change_nd.py
  chat/prompts/eviction_il.py
  chat/services/chat_service.py
  chat/tests/test_chat_session_topic.py
  chat/tests/test_prompts.py
Due: none

chore(topics): align grid slug with prompt registry (housing → eviction)
  chat/tests/test_chat_session_topic.py
  docs/prompts-as-infra.md
  portal/tests.py
  portal/views.py
  templates/pages/topics/eviction.html
Due: prettier, csp-inline-check

feat(topics): swap expungement for adult name change on topic grid
  chat/tests/test_chat_session_topic.py
  portal/views.py
  templates/pages/topics/adult_name_change.html
  templates/pages/topics/expungement.html
Due: csp-inline-check

feat(routing): deep-link entry at /t/{court}/{topic}
  chat/services/chat_service.py
  chat/tests/test_chat_session_topic.py
  chat/views.py
  portal/tests.py
  portal/urls.py
  portal/views.py
  static/js/chat.js
  templates/pages/chat.html
Due: prettier, csp-inline-check
