Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(migrations): rebuild topic flow tables
  litigant_portal/app/migrations/0014_form_formfield_topicflowformcondition_and_more.py
Due: none

refactor(models): consolidate profile state choices onto the canonical list
  litigant_portal/app/models/user.py
Due: none

fix(audit): truncate anonymous session keys (#796)
  docs/wiki/audit-transcripts.md
  litigant_portal/app/admin.py
  litigant_portal/app/models/user.py
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/tests/test_audit_admin.py
  litigant_portal/app/tests/test_audit_export.py
  litigant_portal/app/tests/utils.py
Due: prettier

feat: surface deployed git SHA in audit exports
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/tests/test_audit_export.py
  litigant_portal/app/tests/test_chat_message_git_sha.py
Due: none

feat: stamp deployed git SHA on chat messages
  litigant_portal/app/migrations/0014_chatmessage_git_sha.py
  litigant_portal/app/models/chat_engine.py
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/tests/test_chat_message_git_sha.py
  litigant_portal/app/tests/test_settings.py
  litigant_portal/settings.py
Due: none

feat: expose deployed git SHA as GIT_SHA setting
  .github/workflows/qa-deploy-do.yml
  Makefile
  docker/django/Dockerfile
  litigant_portal/app/tests/test_settings.py
  litigant_portal/settings.py
Due: prettier

docs: document git SHA prompt reconstitution
  docs/wiki/audit-transcripts.md
Due: prettier

fix(build): keep GIT_SHA out of the cached layers;
  docker/django/Dockerfile
  litigant_portal/app/tests/test_settings.py
Due: none

feat(models): lock variable names to snake_case
  litigant_portal/app/migrations/0014_form_formfield_topicflowformcondition_and_more.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/tests/test_topic_flow_models.py
Due: none

feat(models): require complete condition and gate pairs
  litigant_portal/app/migrations/0014_form_formfield_topicflowformcondition_and_more.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/tests/test_topic_flow_models.py
Due: none

Rebuild topic flow models: global variable glossary and conditional form packets (#810)
  litigant_portal/app/migrations/0014_form_formfield_topicflowformcondition_and_more.py
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/choices.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/models/user.py
  litigant_portal/app/tests/test_topic_flow_models.py
Due: none

ci: add dependabot config for github actions
  .github/dependabot.yml
Due: prettier

ci: pin lint and test workflow actions to shas
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: prettier

ci: bump lint and test workflow actions to latest
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: prettier

ci: pin stale workflow action to sha
  .github/workflows/stale.yml
Due: prettier

Record deployed git SHA per assistant turn (#811)
  .github/workflows/qa-deploy-do.yml
  Makefile
  docker/django/Dockerfile
  docs/wiki/audit-transcripts.md
  litigant_portal/app/migrations/0014_chatmessage_git_sha.py
  litigant_portal/app/models/chat_engine.py
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/tests/test_audit_export.py
  litigant_portal/app/tests/test_chat_message_git_sha.py
  litigant_portal/app/tests/test_settings.py
  litigant_portal/settings.py
Due: prettier

fix(migrations): merge the two 0014 leaf nodes
  litigant_portal/app/migrations/0015_merge_20260824_1200.py
Due: none

fix(migrations): merge the two 0014 leaf nodes (#817)
  litigant_portal/app/migrations/0015_merge_20260824_1200.py
Due: none

docs: document runnable DB-free fast tests
  CLAUDE.md
Due: prettier

feat: store prompt artifacts for audit exports
  docs/wiki/audit-transcripts.md
  litigant_portal/app/migrations/0016_promptartifact_chatmessage_prompt_artifact.py
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/chat_engine.py
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/tests/test_audit_export.py
  litigant_portal/app/tests/test_prompt_artifacts.py
Due: prettier

docs: clarify fast test database boundary
  CLAUDE.md
Due: prettier

build: include non-.py runtime files in the pkg
  pyproject.toml
Due: uv-lock-check

build: check for migration conflicts in CI
  tox.ini
Due: none

build: add django-linear-migrations
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/settings.py
  pyproject.toml
  uv.lock
Due: uv-lock-check

build: sync max_migration.txt with main's real leaf
  litigant_portal/app/migrations/max_migration.txt
Due: none

docs: document runnable DB-free fast tests (#820)
  CLAUDE.md
Due: prettier

Guard against parallel migration collision (#826)
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/settings.py
  pyproject.toml
  tox.ini
  uv.lock
Due: uv-lock-check

ci: pin github actions to shas and configure dependabot (#812)
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
Due: prettier

feat(corpus): database sync service and command
  .env.example
  litigant_portal/app/management/commands/sync_corpus.py
  litigant_portal/app/services/corpus.py
  litigant_portal/settings.py
Due: none

feat(models): typed variable defaults and corpus membership flag
  litigant_portal/app/migrations/0015_variable_default_and_in_schema.py
  litigant_portal/app/models/topic_flow.py
Due: none

chore(make): add a check target for Django system checks
  Makefile
Due: none

feat(corpus): add the court content corpus
  CLAUDE.md
  litigant_portal/corpus/courts/franklin-county-oh/court.yml
  litigant_portal/corpus/courts/franklin-county-oh/topics/eviction/flows/landlord.yml
  litigant_portal/corpus/courts/franklin-county-oh/topics/eviction/flows/tenant.yml
  litigant_portal/corpus/courts/franklin-county-oh/topics/eviction/topic.yml
  litigant_portal/corpus/courts/north-dakota/court.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/standard.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/waiver.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/topic.yml
  litigant_portal/corpus/forms/nd-fee-waiver-petition.pdf
  litigant_portal/corpus/forms/nd-fee-waiver-petition.yml
  litigant_portal/corpus/forms/nd-name-change-confidential-info.pdf
  litigant_portal/corpus/forms/nd-name-change-confidential-info.yml
  litigant_portal/corpus/forms/nd-name-change-declaration-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-declaration.pdf
  litigant_portal/corpus/forms/nd-name-change-declaration.yml
  litigant_portal/corpus/forms/nd-name-change-notice.pdf
  litigant_portal/corpus/forms/nd-name-change-notice.yml
  litigant_portal/corpus/forms/nd-name-change-order.pdf
  litigant_portal/corpus/forms/nd-name-change-order.yml
  litigant_portal/corpus/forms/nd-name-change-petition-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-petition.pdf
  litigant_portal/corpus/forms/nd-name-change-petition.yml
  litigant_portal/corpus/variables.yml
Due: prettier

refactor(checks): move the directory-structure check off the selectors
  litigant_portal/app/checks/corpus.py
  litigant_portal/app/selectors/corpus.py
Due: none

feat(docker): sync the corpus at boot, replacing seed_data
  docker/django/entrypoint.sh
  litigant_portal/app/management/commands/seed_data.py
Due: none

feat(corpus): schema, loaders, and system check
  litigant_portal/app/apps.py
  litigant_portal/app/checks/__init__.py
  litigant_portal/app/checks/corpus.py
  litigant_portal/app/checks/prompts.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/tests/test_court_schema.py
  litigant_portal/app/tests/test_site_singleton_migration.py
  litigant_portal/app/tests/test_topic_schema.py
Due: none

test(corpus): validator rules, system check, and sync coverage
  litigant_portal/app/tests/test_corpus_checks.py
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
Due: none

feat(corpus): typed checkbox conditions on form fields
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/services/corpus.py
  litigant_portal/corpus/forms/nd-name-change-declaration-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-declaration.yml
  litigant_portal/corpus/forms/nd-name-change-petition-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-petition.yml
Due: prettier

fix(corpus): one PDF per form, deterministic stored names
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/services/corpus.py
  litigant_portal/corpus/forms/nd-fee-waiver-petition.yml
  litigant_portal/corpus/forms/nd-name-change-confidential-info.yml
  litigant_portal/corpus/forms/nd-name-change-declaration-waiver.pdf
  litigant_portal/corpus/forms/nd-name-change-declaration-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-declaration.yml
  litigant_portal/corpus/forms/nd-name-change-notice.yml
  litigant_portal/corpus/forms/nd-name-change-order.yml
  litigant_portal/corpus/forms/nd-name-change-petition-waiver.pdf
  litigant_portal/corpus/forms/nd-name-change-petition-waiver.yml
  litigant_portal/corpus/forms/nd-name-change-petition.yml
Due: prettier

feat(models): typed variable defaults and corpus membership, as 0017
  litigant_portal/app/migrations/0015_variable_default_and_in_schema.py
  litigant_portal/app/migrations/0017_corpus_field_types.py
  litigant_portal/app/migrations/max_migration.txt
Due: none

build: ship the corpus in the wheel
  pyproject.toml
Due: uv-lock-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
