Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

chore(settings): migrate EMAIL_BACKEND to MAILERS
  litigant_portal/settings.py
Due: none

build(deps): bump litellm for bedrock_mantle ids
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: ship text attachments as labeled text
  docs/ai-tooling/UPLOAD_SYSTEM.md
  litigant_portal/app/services/upload.py
  litigant_portal/app/tests/test_upload.py
Due: prettier

fix: default the fast role to Haiku 4.5
  litigant_portal/app/models/choices.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/templates/pages/admin/settings.html
  litigant_portal/app/tests/test_site_singleton.py
  litigant_portal/app/views/pages.py
Due: none

chore(settings): migrate EMAIL_BACKEND to MAILERS (#856)
  litigant_portal/settings.py
Due: none

added lp_agent module
  .dockerignore
  .github/workflows/tests.yml
  docker-compose.yml
  docker/django/Dockerfile
  litigant_portal/agent.py
  lp_agent/README.md
  lp_agent/__init__.py
  lp_agent/environment.py
  lp_agent/errors.py
  lp_agent/interfaces.py
  lp_agent/main.py
  lp_agent/py.typed
  lp_agent/pytest.ini
  lp_agent/tests/conftest.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_contracts.py
  lp_agent/types.py
  pyproject.toml
  tox.ini
Due: prettier, uv-lock-check

docs: document how work is tracked and where priority and size live
  CLAUDE.md
  CONTRIBUTING.md
  docs/wiki/issue-conventions.md
Due: prettier

added an agent development page for us to do testing
  .env.example
  docker-compose.yml
  litigant_portal/app/selectors/agent.py
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/agent.py
  litigant_portal/settings.py
Due: prettier

feat(agent): initial runtime and adapters added
  litigant_portal/agent.py
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/tests/test_portal_agent.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/agent.py
  lp_agent/README.md
  lp_agent/adapters/__init__.py
  lp_agent/adapters/bedrock.py
  lp_agent/adapters/catalog.py
  lp_agent/adapters/environment.py
  lp_agent/adapters/memory.py
  lp_agent/flows/__init__.py
  lp_agent/flows/engagement.py
  lp_agent/flows/prompts.py
  lp_agent/interfaces.py
  lp_agent/main.py
  lp_agent/pytest.ini
  lp_agent/runtimes/__init__.py
  lp_agent/runtimes/direct.py
  lp_agent/runtimes/stream.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_direct.py
  lp_agent/tests/test_environment_factory.py
  lp_agent/tests/test_stream.py
  lp_agent/types.py
Due: prettier

fix(agent): PR review fixes
  docker/django/Dockerfile
  litigant_portal/agent.py
  lp_agent/README.md
  lp_agent/errors.py
  lp_agent/interfaces.py
  lp_agent/main.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_audit.py
  lp_agent/tests/test_contracts.py
  lp_agent/tests/test_errors.py
  lp_agent/tests/test_model_contracts.py
  lp_agent/types.py
  lp_agent/utils/__init__.py
  lp_agent/utils/audit.py
  pyproject.toml
  tox.ini
  uv.lock
Due: prettier, uv-lock-check

feat(content): restore name and county questions
  litigant_portal/app/tests/test_content_never_prefill.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

fix(settings): register the toast_messages process
  litigant_portal/settings.py
Due: none

feat(topic_flow): confirm saves with a toast
  litigant_portal/app/templates/cotton/molecules/toast_container.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_content_never_prefill.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

feat(content): explain the privacy blank-out
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

feat(agent): polish pass
  litigant_portal/app/selectors/agent.py
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/tests/test_portal_agent.py
  litigant_portal/app/views/agent.py
  lp_agent/README.md
  lp_agent/adapters/bedrock.py
  lp_agent/tests/helpers.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_direct.py
  lp_agent/tests/test_environment_factory.py
  lp_agent/tests/test_stream.py
Due: prettier

[867] Add QA deploy workflow to EKS qa-litigant
  .github/workflows/qa-deploy.yml
Due: prettier

feat(chat): show the litigant their case facts in the briefcase panel
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/templates/cotton/molecules/briefcase_fact.html
  litigant_portal/app/templates/cotton/organisms/briefcase_panel.html
  litigant_portal/app/templates/pages/chat/index.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_briefcase.py
  litigant_portal/app/tests/test_chat_page.py
  litigant_portal/app/views/pages.py
Due: none

860: First PR defining agent arch and interfaces (#862)
  .dockerignore
  .github/workflows/tests.yml
  docker-compose.yml
  docker/django/Dockerfile
  litigant_portal/agent.py
  lp_agent/README.md
  lp_agent/__init__.py
  lp_agent/environment.py
  lp_agent/errors.py
  lp_agent/interfaces.py
  lp_agent/main.py
  lp_agent/py.typed
  lp_agent/pytest.ini
  lp_agent/tests/conftest.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_audit.py
  lp_agent/tests/test_contracts.py
  lp_agent/tests/test_errors.py
  lp_agent/tests/test_model_contracts.py
  lp_agent/types.py
  lp_agent/utils/__init__.py
  lp_agent/utils/audit.py
  pyproject.toml
  tox.ini
  uv.lock
Due: prettier, uv-lock-check

docs: document the Docker Desktop to OrbStack switch
  Makefile
  docs/README.md
  docs/wiki/container-runtime.md
Due: prettier

fix(security): fail startup when a deployed environment has no site password
  docker-compose.yml
  docs/wiki/SECURITY.md
  litigant_portal/app/apps.py
  litigant_portal/app/checks/site_password.py
  litigant_portal/app/tests/test_site_password_check.py
Due: prettier

fix(chat): stop a template comment rendering inside the briefcase
  litigant_portal/app/templates/cotton/organisms/briefcase_panel.html
  litigant_portal/app/tests/test_briefcase.py
Due: none

[867] Add QA deploy workflow to EKS qa-litigant
  .github/workflows/qa-deploy.yml
  .github/workflows/tests.yml
Due: prettier

feat(chat): format briefcase dates like the rest of the app, and fix the hierarchy
  litigant_portal/app/formatting.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/templates/cotton/molecules/briefcase_fact.html
  litigant_portal/app/templates/cotton/organisms/briefcase_panel.html
  litigant_portal/app/tests/test_briefcase.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/topic_flow/renderer.py
Due: none

feat(agent): corpus patterns and cleanup
  litigant_portal/agent.py
  litigant_portal/app/selectors/agent.py
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/tests/test_portal_agent.py
  litigant_portal/app/views/agent.py
  litigant_portal/settings.py
  lp_agent/README.md
  lp_agent/adapters/catalog.py
  lp_agent/adapters/environment.py
  lp_agent/corpus/__init__.py
  lp_agent/corpus/db_search.py
  lp_agent/corpus/file_search.py
  lp_agent/corpus/s3_search.py
  lp_agent/corpus/vec_search.py
  lp_agent/environment.py
  lp_agent/flows/engagement.py
  lp_agent/interfaces.py
  lp_agent/tests/conftest.py
  lp_agent/tests/helpers.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/test_agent.py
  lp_agent/tests/test_contracts.py
  lp_agent/tests/test_corpus.py
  lp_agent/tests/test_direct.py
  lp_agent/tests/test_environment_factory.py
  lp_agent/tests/test_memory.py
  lp_agent/tests/test_model_contracts.py
  lp_agent/types.py
Due: prettier

feat(agent): renamed root environment
  lp_agent/README.md
  lp_agent/__init__.py
  lp_agent/adapters/environment.py
  lp_agent/flows/engagement.py
  lp_agent/identity.py
  lp_agent/interfaces.py
  lp_agent/main.py
  lp_agent/tests/conftest.py
  lp_agent/tests/helpers.py
  lp_agent/tests/test_agent.py
Due: prettier

feat(agent): cleaned up the README.md
  lp_agent/README.md
Due: prettier

feat(agent): self-review
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/views/agent.py
  lp_agent/adapters/bedrock.py
  lp_agent/tests/providers/test_bedrock.py
Due: none

feat(content): restore name and county questions (#864)
  litigant_portal/app/templates/cotton/molecules/toast_container.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_content_never_prefill.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
  litigant_portal/settings.py
Due: prettier

fix(agent): claude review changes
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/templates/cotton/molecules/form_field_select.html
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/views/agent.py
Due: prettier

test(topic_flow): guard multi_user in interviews
  litigant_portal/app/tests/test_content_interview_mapping.py
Due: none

fix(docker): pass DOCASSEMBLE_PUBLIC_URL
  docker-compose.yml
Due: prettier

feat(topic_flow): map answers to interview names
  docs/docassemble.md
  litigant_portal/app/tests/test_content_interview_mapping.py
  litigant_portal/app/tests/test_topic_flow_loader.py
  litigant_portal/app/tests/test_topic_flow_prefill.py
  litigant_portal/app/tests/test_topic_flow_schema.py
  litigant_portal/app/topic_flow/loader.py
  litigant_portal/app/topic_flow/prefill.py
  litigant_portal/app/topic_flow/schema.py
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

refactor(views): share the no-session guard
  litigant_portal/app/views/utils.py
Due: none

feat(docassemble): set multi_user in the ND name change interviews
  docassemble/nd-name-change/README.md
  docassemble/nd-name-change/petition-standard.yml
  docassemble/nd-name-change/petition-waiver.yml
Due: prettier

fix(topic_flow): don't clear unshown answers
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/tests/test_variable_answer_selectors.py
  litigant_portal/app/views/pages.py
Due: none

feat(topic_flow): hand a prefilled interview
  .env.example
  litigant_portal/app/services/docassemble.py
  litigant_portal/app/templates/cotton/molecules/flow_section_packet.html
  litigant_portal/app/tests/test_content_interview_mapping.py
  litigant_portal/app/tests/test_docassemble_client.py
  litigant_portal/app/tests/test_topic_flow_interview_view.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/topic_flow.py
  litigant_portal/app/views/utils.py
  litigant_portal/settings.py
Due: none

feat(services): add the docassemble session client
  .env.example
  docassemble/nd-name-change/README.md
  docker-compose.docassemble.yml
  docker-compose.yml
  docs/docassemble.md
  litigant_portal/app/services/docassemble.py
  litigant_portal/app/tests/test_docassemble_client.py
  litigant_portal/settings.py
Due: prettier

feat(topic_flow): let litigants clear saved answer
  litigant_portal/app/templates/cotton/molecules/flow_section_fact_gather.html
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
Due: none

fix(services): delete the docassemble orphans
  litigant_portal/app/services/docassemble.py
  litigant_portal/app/tests/test_docassemble_client.py
Due: none

fix(topic_flow): fall back on CSRF failure
  litigant_portal/app/tests/test_topic_flow_interview_view.py
  litigant_portal/app/views/topic_flow.py
  litigant_portal/settings.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
