Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

feat(static): add css classes for flow-prose and tweak base select button
  litigant_portal/app/src/main.css
Due: prettier

feat(js): add alpine handlers for admin site endpoints
  litigant_portal/app/static/js/admin.js
Due: prettier

feat(js): add alpine handlers for topic flow endpoints
  litigant_portal/app/static/js/topic_flow.js
Due: prettier

feat(templates): tweak icon and select primitives
  litigant_portal/app/templates/cotton/atoms/icon.html
  litigant_portal/app/templates/cotton/atoms/select.html
Due: none

feat(templates): admin user tab templates updated for new permissions
  litigant_portal/app/templates/cotton/molecules/user_menu.html
  litigant_portal/app/templates/pages/admin/users.html
Due: none

feat(templates): admin settings tab updated to support new fields
  litigant_portal/app/templates/pages/admin/settings.html
Due: none

feat(templates): demo button updated to point to new topic pages
  litigant_portal/app/templates/cotton/organisms/header.html
Due: none

feat(templates): admin and chat layouts column sizing updated
  litigant_portal/app/templates/pages/admin/index.html
  litigant_portal/app/templates/pages/chat/index.html
Due: none

feat(templates): simulate placeholder tab dropped
  litigant_portal/app/templates/pages/admin/simulate.html
Due: none

feat(templates): court config and topic library sidebar templates
  litigant_portal/app/templates/pages/admin/_library.html
  litigant_portal/app/templates/pages/admin/_topic_library.html
Due: none

feat(template): interview builder sidebar template
  litigant_portal/app/templates/pages/admin/_interview_builder.html
Due: none

feat(templates): topic flow editor on admin site template
  litigant_portal/app/templates/pages/admin/_flow.html
Due: none

feat(templates): public facing topic flow page template
  litigant_portal/app/templates/pages/flow.html
Due: none

feat(templates): update knowledge base tab to include updated topic cards
  litigant_portal/app/templates/pages/admin/_nav.html
  litigant_portal/app/templates/pages/admin/knowledge_base.html
Due: none

feat(migrations): fix migration import 0007 import path
  litigant_portal/app/migrations/0007_chatthread_description_chatthread_thread_type_and_more.py
Due: none

feat(migrations): add migrations
  litigant_portal/app/migrations/0011_contact_resource_topicflow_topicflowanswer_and_more.py
Due: none

feat(migrations): update migrations for shift to singleton model
  litigant_portal/app/migrations/0011_contact_resource_topicflow_topicflowanswer_and_more.py
Due: none

feat(services): delete form s3 file when deleting topic flow form
  litigant_portal/app/services/library.py
  litigant_portal/app/services/topic_flow.py
Due: none

feat(js): preserve interview answers on dismiss form
  litigant_portal/app/static/js/topic_flow.js
Due: prettier

feat(views): set max deadline offset days
  litigant_portal/app/views/admin.py
Due: none

docs: sync docs and CLAUDE.md to the chat-engine cutover (#700)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docassemble/nd-name-change/README.md
  docs/ARCHITECTURE.md
  docs/CHANGES.md
  docs/COMPONENT_LIBRARY.md
  docs/QA-DEPLOY.md
  docs/README.md
  docs/REQUIREMENTS.md
  docs/ai-tooling/AGENT_DEV_GUIDE.md
  docs/ai-tooling/ATTACHMENT_SYSTEM.md
  docs/briefcase-architecture.md
  docs/chat-plan.md
  docs/dashboard-reintegration-changes.md
  docs/demo-flow-jane.md
  docs/demo-strategy.md
  docs/docassemble-authoring.md
  docs/docassemble-local-dev.md
  docs/docassemble-qa-hosting.md
  docs/docassemble.md
  docs/expert-feedback/2026-01-15-lawyer-eviction.md
  docs/happy-path-jane.md
  docs/happy-path-sandra.md
  docs/itc-demo-retro.md
  docs/nd-name-change-planning-log.md
  docs/overview-mapped-legal-flow.md
  docs/prompts-as-infra.md
  docs/sizing-calibration.md
  docs/sizing-guide.md
  docs/sprint-map.md
  docs/topic-flow-engine.md
  docs/updating.md
  docs/user-flows.md
  docs/wiki/SECURITY.md
  docs/wiki/ai-tone-guide.md
  docs/wiki/issue-conventions.md
  docs/wiki/translation.md
  docs/wiki/wcag-strategy.md
  litigant_portal/app/topic_flow/schema.py
Due: prettier

chore(deps): drop orphaned pdfplumber dependency
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor(frontend): remove orphaned action plan component
  litigant_portal/app/static/js/components.js
Due: prettier

chore(urls): explain unprefixed English routes
  litigant_portal/app/urls.py
Due: none

docs: add repo-wide Definition of Done
  CONTRIBUTING.md
  docs/wiki/definition-of-done.md
Due: prettier

chore(deps): drop orphaned pdfplumber dependency (#706)
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add repo-wide Definition of Done (#710)
  CONTRIBUTING.md
  docs/wiki/definition-of-done.md
Due: prettier

feat(models): move upload models to upload module
  litigant_portal/app/models/upload.py
Due: none

feat(selectors): mode upload selectors to upload module
  litigant_portal/app/selectors/upload.py
Due: none

feat(services): move upload services to upload module
  litigant_portal/app/services/assistant.py
  litigant_portal/app/services/upload.py
Due: none

feat(models): move site models to site module and Topic to topic_flow
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/site.py
  litigant_portal/app/models/topic_flow.py
Due: none

feat(services): delete stale search service
  litigant_portal/app/services/search_service.py
Due: none

feat(agents): delete stale llm_completion method
  litigant_portal/agents/message_schema.py
Due: none

feat(app): move user related services to user module
  litigant_portal/app/services/identity.py
  litigant_portal/app/services/user.py
Due: none

feat(services): consistent naming for chat engine service methods
  litigant_portal/app/services/chat_engine.py
Due: none

feat(selectors): move site selectors to site module
  litigant_portal/app/selectors/site.py
Due: none

feat(services): break admin services into site and topic_flow modules
  litigant_portal/app/services/admin.py
  litigant_portal/app/services/site.py
  litigant_portal/app/services/topic_flow.py
Due: none

feat(views): move topic flow endpoint to topic_flow view module
  litigant_portal/app/views/pages.py
  litigant_portal/app/views/topic_flow.py
Due: none

feat(selectors): move topic flow and user selectors to respective modules
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/selectors/user.py
Due: none

feat(app): update import paths throughout the app
  litigant_portal/agents/tools/query_document.py
  litigant_portal/app/context_processors.py
  litigant_portal/app/management/commands/seed_data.py
  litigant_portal/app/middleware.py
  litigant_portal/app/migrations/0007_chatthread_description_chatthread_thread_type_and_more.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/signals.py
  litigant_portal/app/tests/test_attachments.py
  litigant_portal/app/tests/test_chat_hidden.py
  litigant_portal/app/tests/test_identity_services.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/admin.py
  litigant_portal/app/views/assistant.py
  litigant_portal/app/views/chat_engine.py
Due: none
