Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

feat(tests): explicitly set debug true for tests
  docker-compose.yml
  litigant_portal/settings.py
  tox.ini
Due: prettier

feat(pre-commit): exclude archive dir from linting
  .pre-commit-config.yaml
Due: prettier

feat(package): Add whitenoise deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(app): move tailwind styles out of static
  docker/django/Dockerfile
  docker/django/entrypoint.sh
  litigant_portal/app/styles/main.css
Due: prettier

feat(app): add whitenoise to settings
  litigant_portal/settings.py
Due: none

feat(docker): remove static path from caddy config
  docker/caddy/Caddyfile.prod
Due: none

feat(docker): update references to secrets dir in compose
  docker-compose.yml
Due: prettier

feat(package): update css source path
  .gitignore
  Makefile
  litigant_portal/app/styles/main.css
  litigant_portal/app/templates/pages/style_guide.html
Due: prettier

feat(app): keep source css in `src` dir, update refs
  .gitignore
  Makefile
  docker/django/Dockerfile
  docker/django/entrypoint.sh
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/pages/style_guide.html
Due: prettier

docs(package): Update env.example
  .env.example
Due: none

docs(readmes): update mentions of secrets file pattern
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/SECURITY.md
Due: prettier

style(readme): code format
  CLAUDE.md
Due: prettier

docs(docs): update deploy docs
  docs/QA-DEPLOY.md
Due: prettier

style(docs): code format
  docs/QA-DEPLOY.md
Due: prettier

fix(style-guide): remove broken chat-message section
  litigant_portal/app/templates/pages/style_guide.html
Due: none

feat(header): show build-time chip in dev + QA; remove hamburger
  docker-compose.yml
  docs/QA-DEPLOY.md
  litigant_portal/app/context_processors.py
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/app/tests/test_context_processors.py
  litigant_portal/settings.py
Due: prettier

refactor(header): tuck dev tools + build chip into hamburger dropdown
  litigant_portal/app/static/js/components.js
  litigant_portal/app/templates/cotton/organisms/header.html
Due: prettier

fix(settings): validate DEPLOYMENT_ENV and warn on unknown values
  litigant_portal/settings.py
Due: none

feat(topic-flow): add CorpusLoader + YAML corpus schema
  content/_test_fixture.yml
  litigant_portal/app/apps.py
  litigant_portal/app/tests/test_topic_flow_loader.py
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/tests/test_topic_flow_schema.py
  litigant_portal/app/topic_flow/__init__.py
  litigant_portal/app/topic_flow/checks.py
  litigant_portal/app/topic_flow/loader.py
  litigant_portal/app/topic_flow/registry.py
  litigant_portal/app/topic_flow/schema.py
  pyproject.toml
Due: prettier, uv-lock-check

chore: update uv lock
  uv.lock
Due: none

fix(topic-flow): move corpus content/ inside litigant_portal/
  litigant_portal/app/tests/test_topic_flow_loader.py
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/tests/test_topic_flow_schema.py
  litigant_portal/app/topic_flow/registry.py
  litigant_portal/content/_test_fixture.yml
Due: prettier

ci(cd): trigger QA deploy on push to main instead of qa branch
  .github/workflows/cd.yml
  CLAUDE.md
  docs/QA-DEPLOY.md
Due: prettier

docs(claude): stop repeated lint/test prompts
  CLAUDE.md
Due: prettier

docs(architecture): add open-contracts / interface-driven design principle
  docs/ARCHITECTURE.md
Due: prettier

feat(topic-flow): generate downloadable .vcf from a Contact
  litigant_portal/app/tests/test_topic_flow_artifacts.py
  litigant_portal/app/topic_flow/artifacts.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(topic-flow): session-backed AnswerStore for fact_gather answers
  litigant_portal/app/tests/test_topic_flow_answer_store.py
  litigant_portal/app/topic_flow/answer_store.py
Due: none

feat(topic-flow): SectionRenderer registry + section render handlers
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/topic_flow/renderer.py
Due: none

test(topic-flow): assert AnswerStore payload survives JSON round-trip
  litigant_portal/app/tests/test_topic_flow_answer_store.py
Due: none

feat(topic-flow): entry view + 3-segment URL rendering corpus sections
  litigant_portal/app/templates/pages/topic_flow.html
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
Due: none

feat(topic-flow): per-kind section body templates
  litigant_portal/app/templates/cotton/molecules/flow_section_fact_gather.html
  litigant_portal/app/templates/cotton/molecules/flow_section_info.html
  litigant_portal/app/templates/cotton/molecules/flow_section_packet.html
  litigant_portal/app/templates/cotton/molecules/flow_section_summary.html
  litigant_portal/app/templates/pages/topic_flow.html
  litigant_portal/app/tests/test_topic_flow_view.py
Due: none

fix(forms): track corpus required flag in form-field HTML output
  litigant_portal/app/templates/cotton/atoms/input.html
  litigant_portal/app/templates/cotton/atoms/select.html
  litigant_portal/app/templates/cotton/molecules/form_field.html
  litigant_portal/app/templates/cotton/molecules/form_field_select.html
  litigant_portal/app/tests/test_topic_flow_view.py
Due: none

fix(topic-flow): skip headingless fact_gather sections in the page TOC
  litigant_portal/app/templates/pages/topic_flow.html
  litigant_portal/app/tests/test_topic_flow_view.py
Due: none

feat(models): add user identity model
  litigant_portal/app/models/user.py
Due: none

feat(admin): add user identity to django admin
  litigant_portal/app/admin.py
Due: none

feat(models): link chat models to user identity
  litigant_portal/app/models/chat.py
Due: none

feat(agents): update agents to use user identity
  litigant_portal/agents/base.py
  litigant_portal/agents/litigant_assistant.py
Due: none

chore(deps): bump dependencies to clear 13 Dependabot alerts (3 high)
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs(claude): correct Django version (5.2 → 6.0)
  CLAUDE.md
Due: prettier
