Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

fix(deploy): persist docassemble state on the DO QA box across deploys
  deploy/qa-do/Caddyfile.qa
  deploy/qa-do/README.md
  deploy/qa-do/docker-compose.qa.yml
  docs/docassemble-qa-hosting.md
Due: prettier

fix(deploy): apply Caddyfile edits on deploy; fence down -v off docassemble state
  .github/workflows/qa-deploy-do.yml
  deploy/qa-do/README.md
Due: prettier

docs: consolidate docs/ into a reference shelf, sync content to the current repo
  CLAUDE.md
  docassemble/nd-name-change/README.md
  docs/ARCHITECTURE.md
  docs/COMPONENT_LIBRARY.md
  docs/QA-DEPLOY.md
  docs/README.md
  docs/REQUIREMENTS.md
  docs/ai-tooling/AGENT_DEV_GUIDE.md
  docs/ai-tooling/ATTACHMENT_SYSTEM.md
  docs/briefcase-architecture.md
  docs/demo-flow-jane.md
  docs/demo-strategy.md
  docs/docassemble-authoring.md
  docs/docassemble-local-dev.md
  docs/docassemble-qa-hosting.md
  docs/docassemble.md
  docs/expert-feedback/2026-01-15-lawyer-eviction.md
  docs/happy-path-jane.md
  docs/happy-path-sandra.md
  docs/itc-demo-retro.md
  docs/nd-name-change-planning-log.md
  docs/overview-mapped-legal-flow.md
  docs/pinned-assets.md
  docs/prompts-as-infra.md
  docs/sizing-calibration.md
  docs/sizing-guide.md
  docs/sprint-map.md
  docs/topic-flow-engine.md
  docs/updating.md
  docs/user-flows.md
  docs/wiki/SECURITY.md
  docs/wiki/ai-tone-guide.md
  docs/wiki/issue-conventions.md
  docs/wiki/translation.md
  docs/wiki/wcag-strategy.md
Due: prettier

docs(topic-flow): record the corpus schema as the partner-facing contract
  litigant_portal/app/topic_flow/schema.py
Due: none

docs: seed CONTRIBUTING.md with the issue-first workflow
  CONTRIBUTING.md
Due: prettier

style(docs): prettier formatting pass over restructured docs
  docs/README.md
  docs/docassemble.md
  docs/wiki/SECURITY.md
Due: prettier

docs: rewrite root README intro and documentation table
  README.md
Due: prettier

docs(docassemble): sync QA hosting to the deploy/qa-do stack
  docs/docassemble.md
Due: prettier

feat(settings): drop stale CHAT_MODEL and CHAT_ENABLED env vars
  .env.example
  deploy/qa-do/docker-compose.qa.yml
  docker-compose.yml
  litigant_portal/settings.py
  tox.ini
Due: prettier

feat(app): rename admin domain to site
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/services/site.py
Due: none

feat(models): force site to be a singleton model
  litigant_portal/app/models/site.py
Due: none

feat(services): drop stale search_service module
  litigant_portal/app/services/search_service.py
Due: none

feat(signals): replace seed_data command with ensure_site_row signal
  docker/django/entrypoint.sh
  litigant_portal/app/management/commands/seed_data.py
  litigant_portal/app/signals.py
Due: none

feat(app): create upload domain
  litigant_portal/app/models/upload.py
  litigant_portal/app/selectors/upload.py
  litigant_portal/app/services/upload.py
Due: none

feat(app): consolidate upload helpers in upload domain
  litigant_portal/agents/tools/query_document.py
  litigant_portal/app/models/upload.py
  litigant_portal/app/services/assistant.py
  litigant_portal/app/services/upload.py
Due: none

feat(services): add utils module for shared service helpers
  litigant_portal/app/services/utils.py
Due: none

feat(services): move identity services to user domain
  litigant_portal/app/services/user.py
Due: none

feat(services): make user identity service names consistent
  litigant_portal/app/middleware.py
  litigant_portal/app/services/user.py
Due: none

feat(models): add topic flow models
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/services/upload.py
Due: none

feat(agents): drop stale litellm completion
  litigant_portal/agents/message_schema.py
Due: none

feat(services): standardize chat engine service names
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/views/chat_engine.py
Due: none

feat(tests): update service names in tests
  litigant_portal/app/tests/test_attachments.py
  litigant_portal/app/tests/test_chat_hidden.py
  litigant_portal/app/tests/test_identity_services.py
Due: none

feat(app): replace site membership permission system with django native
  litigant_portal/app/context_processors.py
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/user.py
  litigant_portal/app/services/user.py
  litigant_portal/app/signals.py
  litigant_portal/settings.py
Due: none

feat(commands): change bootstrap user from superuser to dev user
  .env.example
  docker-compose.yml
  docker/django/entrypoint.sh
  litigant_portal/app/management/commands/bootstrap_dev_user.py
  litigant_portal/app/tests/test_bootstrap_dev_user.py
Due: prettier

feat(app): add site services, selectors, and side_get caching
  litigant_portal/app/selectors/site.py
  litigant_portal/app/services/site.py
  litigant_portal/app/signals.py
  litigant_portal/app/tests/conftest.py
Due: none

feat(app): add topic flow selectors, service, and topic list caching
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/services/topic_flow.py
  litigant_portal/app/signals.py
Due: none

feat(services): use decorator pattern for busting site cache
  litigant_portal/app/services/site.py
Due: none

feat(app): update imports for assistant and model init
  litigant_portal/app/models/__init__.py
  litigant_portal/app/views/assistant.py
Due: none

feat(app): add library selectors and services
  litigant_portal/app/selectors/library.py
  litigant_portal/app/services/library.py
  litigant_portal/app/services/site.py
  litigant_portal/app/services/topic_flow.py
Due: none

feat(library): add library configs
  .pre-commit-config.yaml
  litigant_portal/library/courts/default-court/config.yml
  litigant_portal/library/courts/default-court/topics/consumer/config.yml
  litigant_portal/library/courts/default-court/topics/family/config.yml
  litigant_portal/library/courts/default-court/topics/small-claims/config.yml
  litigant_portal/library/courts/default-court/topics/traffic/config.yml
  litigant_portal/library/courts/franklin-county-oh/config.yml
  litigant_portal/library/courts/franklin-county-oh/topics/eviction/config.yml
  litigant_portal/library/courts/franklin-county-oh/topics/eviction/flows/landlord.yml
  litigant_portal/library/courts/franklin-county-oh/topics/eviction/flows/tenant.yml
  litigant_portal/library/courts/north-dakota/config.yml
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/config.yml
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/flows/standard.yml
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/flows/waiver.yml
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/forms/confidential-info.pdf
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/forms/declaration.pdf
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/forms/notice.pdf
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/forms/order.pdf
  litigant_portal/library/courts/north-dakota/topics/adult-name-change/forms/petition.pdf
Due: prettier

feat(app): delete old topic flow
  litigant_portal/app/apps.py
  litigant_portal/app/templates/cotton/molecules/flow_links.html
  litigant_portal/app/templates/cotton/molecules/flow_section_fact_gather.html
  litigant_portal/app/templates/cotton/molecules/flow_section_ics.html
  litigant_portal/app/templates/cotton/molecules/flow_section_info.html
  litigant_portal/app/templates/cotton/molecules/flow_section_packet.html
  litigant_portal/app/templates/cotton/molecules/flow_section_resources.html
  litigant_portal/app/templates/cotton/molecules/flow_section_summary.html
  litigant_portal/app/templates/cotton/molecules/flow_section_vcf.html
  litigant_portal/app/templates/pages/topic_flow.html
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/tests/test_topic_flow_answer_store.py
  litigant_portal/app/tests/test_topic_flow_artifacts.py
  litigant_portal/app/tests/test_topic_flow_contacts.py
  litigant_portal/app/tests/test_topic_flow_deadlines.py
  litigant_portal/app/tests/test_topic_flow_downloads.py
  litigant_portal/app/tests/test_topic_flow_loader.py
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_schema.py
  litigant_portal/app/tests/test_topic_flow_validation.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/__init__.py
  litigant_portal/app/topic_flow/answer_store.py
  litigant_portal/app/topic_flow/artifacts.py
  litigant_portal/app/topic_flow/checks.py
  litigant_portal/app/topic_flow/contacts.py
  litigant_portal/app/topic_flow/deadlines.py
  litigant_portal/app/topic_flow/downloads.py
  litigant_portal/app/topic_flow/loader.py
  litigant_portal/app/topic_flow/registry.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/topic_flow/schema.py
  litigant_portal/app/topic_flow/validation.py
  litigant_portal/content/_test_fixture.yml
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/content/eviction-tenant.yml
Due: prettier

feat(app): add helpers to topics and libraries for field groups
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/library.py
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/services/library.py
  litigant_portal/app/services/topic_flow.py
  litigant_portal/app/tests/test_library_apply.py
Due: none

feat(views): add topic_detail view, drop old topic flow views
  litigant_portal/app/views/pages.py
Due: none

feat(views): add admin endpoints for topic flow management
  litigant_portal/app/views/admin.py
Due: none

feat(views): add user-facing topic flow endpoints
  litigant_portal/app/views/topic_flow.py
Due: none

feat(tests): tests for topic flow answers and applying a library config
  litigant_portal/app/tests/test_flow_answers.py
  litigant_portal/app/tests/test_library_apply.py
Due: none

feat(pyproject): tweak pyproject comment language
  pyproject.toml
Due: uv-lock-check

feat(app): add topic form answer "reviewed" field support
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/services/library.py
  litigant_portal/app/services/topic_flow.py
  litigant_portal/app/tests/test_flow_answers.py
  litigant_portal/app/views/topic_flow.py
Due: none

feat(urls): wire up urls to all new endpoints
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
Due: none

feat(selectors): export view logic to selectorss for users and site
  litigant_portal/app/selectors/site.py
  litigant_portal/app/selectors/user.py
Due: none
