Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

fix(deploy): bind-mount box dir for DO QA static, not a named volume
  deploy/qa-do/README.md
  deploy/qa-do/docker-compose.qa.yml
Due: prettier

docs(deploy): correct static comment + harden uid command per review
  deploy/qa-do/Caddyfile.qa
  deploy/qa-do/README.md
Due: prettier

fix(deploy): 308-redirect bare /interview to /interview/ on DO QA
  deploy/qa-do/Caddyfile.qa
Due: none

feat(makefile): add makemigrations make command
  Makefile
Due: none

build(pyproject): add attachment parsing deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(agents): add litigant assistant agent with query document tool
  litigant_portal/agents/base.py
  litigant_portal/agents_v2/__init__.py
  litigant_portal/agents_v2/assistant.py
  litigant_portal/agents_v2/base.py
  litigant_portal/agents_v2/tools/query_document.py
Due: none

feat(models): add assistant user upload model
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/assistant.py
  litigant_portal/app/selectors/assistant.py
Due: none

feat(services): add service utilities for attachment upload and message hydration
  litigant_portal/agents_v2/tools/query_document.py
  litigant_portal/app/services/assistant.py
  litigant_portal/app/services/attachments.py
Due: none

feat(models): add thread type and description to chat thread
  litigant_portal/app/models/chat_v2.py
  litigant_portal/app/selectors/chat_v2.py
Due: none

feat(services): add util to generate thread description, and handle attachments in llm messages
  litigant_portal/app/services/chat_v2.py
Due: none

feat(views): generalize chat endpoints and add assistant endpoints
  litigant_portal/app/urls.py
  litigant_portal/app/views/assistant.py
  litigant_portal/app/views/chat_v2.py
Due: none

feat(services): include threads and uploads in user identity merge
  litigant_portal/app/services/identity.py
Due: none

feat(templates): move v2 templates into v2 dir
  litigant_portal/app/templates/v2/chat/index.html
  litigant_portal/app/views/pages.py
Due: none

feat(templates): update chat v2 templates to handle file uploads
  litigant_portal/app/static/js/chat_v2.js
  litigant_portal/app/templates/tools/query_document_call.html
  litigant_portal/app/templates/tools/query_document_result.html
  litigant_portal/app/templates/v2/chat/index.html
  litigant_portal/app/templates/v2/common/header.html
Due: prettier

test(tests): add tests for agent scopes and attachments
  litigant_portal/app/tests/test_agent_scoping.py
  litigant_portal/app/tests/test_attachments.py
  litigant_portal/app/tests/test_chat_v2_hidden.py
  litigant_portal/app/tests/test_identity_services.py
Due: none

feat(models): add migrations
  litigant_portal/app/migrations/0007_chatthread_description_chatthread_thread_type_and_more.py
  litigant_portal/app/models/chat_v2.py
Due: none

docs(docs): add docs for attachment system and agent update
  docs/AGENT_DEV_GUIDE.md
  docs/ATTACHMENT_SYSTEM.md
  litigant_portal/app/templates/v2/chat/index.html
  litigant_portal/app/views/pages.py
Due: prettier

style(app): code format
  docs/ATTACHMENT_SYSTEM.md
  litigant_portal/app/models/chat_v2.py
  litigant_portal/app/views/assistant.py
Due: prettier

feat(services): drop ppt as supported attachment and dedup attchment ownership check
  docs/ATTACHMENT_SYSTEM.md
  litigant_portal/app/services/assistant.py
  litigant_portal/app/static/js/chat_v2.js
  litigant_portal/app/templates/v2/chat/index.html
  litigant_portal/app/views/chat_v2.py
Due: prettier

feat(chat): add meta message system
  docs/AGENT_DEV_GUIDE.md
  litigant_portal/app/migrations/0008_chatmessage_meta_alter_chatmessage_data_and_more.py
  litigant_portal/app/models/chat_v2.py
  litigant_portal/app/selectors/chat_v2.py
  litigant_portal/app/services/chat_v2.py
  litigant_portal/app/tests/test_chat_v2_hidden.py
Due: prettier

feat(templates): add WCAG improvements to chat v2 ui
  litigant_portal/app/static/js/chat_v2.js
  litigant_portal/app/templates/v2/chat/index.html
Due: prettier

feat(settings): serve media with filesystem when USE_S3 is false
  .env.example
  litigant_portal/agents/base.py
  litigant_portal/app/urls.py
  litigant_portal/settings.py
Due: none

style(docs): code format
  docs/AGENT_DEV_GUIDE.md
Due: prettier

feat(eviction): Franklin County chat prompt + tenant-first handoff order
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/topic_flow/registry.py
  litigant_portal/app/topic_flow/schema.py
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/content/eviction-tenant.yml
  litigant_portal/prompts/courts/franklin-county-oh/prompt.md
Due: prettier

refactor(eviction): retire DuPage placeholder, repoint eviction to Franklin
  litigant_portal/app/services/chat_service.py
  litigant_portal/app/templates/pages/topics/eviction.html
  litigant_portal/app/tests/test_chat_session_topic.py
  litigant_portal/app/tests/test_court_schema.py
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/tests/test_prompts.py
  litigant_portal/app/views/pages.py
  litigant_portal/prompts/__init__.py
  litigant_portal/prompts/courts/dupage-il/court.json
  litigant_portal/prompts/courts/dupage-il/prompt.md
Due: prettier

docs(content): solve directly, escalate to legal aid sparingly
  CLAUDE.md
  docs/ai-tone-guide.md
  litigant_portal/content/eviction-tenant.yml
  litigant_portal/prompts/courts/franklin-county-oh/prompt.md
Due: prettier

docs: relocate Jane narrative to Franklin County OH
  docs/demo-flow-jane.md
  docs/happy-path-jane.md
Due: prettier

feat(commands): add management command to bootstrap an initial superuser account from env vars
  .env.example
  docker/django/entrypoint.sh
  litigant_portal/app/management/commands/bootstrap_superuser.py
  litigant_portal/app/tests/test_bootstrap_superuser.py
Due: none

feat(commands): dont promote existing accounts when bootstrapping superuser
  .env.example
  litigant_portal/app/management/commands/bootstrap_superuser.py
  litigant_portal/app/tests/test_bootstrap_superuser.py
Due: none

fix(eviction): topic layer defers filing mechanics; drop tenant-only framing
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/prompts/topics/eviction/prompt.md
Due: prettier

fix(qa-deploy): raise django healthcheck start_period to 90s
  deploy/qa-do/docker-compose.qa.yml
Due: prettier

docs: slim repo CLAUDE.md against org layer and skills
  CLAUDE.md
Due: prettier

feat(topic-flow): all_tracks registry accessor for topic-less surfaces
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/topic_flow/registry.py
Due: none

feat(chat-v2): guided-flow links under the thread list
  litigant_portal/app/templates/v2/chat/index.html
  litigant_portal/app/tests/test_chat_v2_page.py
  litigant_portal/app/views/pages.py
Due: none

feat(agents-v2): least-possible flow awareness in the assistant prompt
  litigant_portal/agents_v2/assistant.py
  litigant_portal/app/tests/test_assistant_flow_prompt.py
Due: none

feat(models): add state and jurisdiction choices
  litigant_portal/app/models/choices.py
Due: none

feat(models): add site, site membership, and topic models
  litigant_portal/app/models/admin.py
Due: none

feat(services): add helpers for permissions, site updates, and topic updates
  litigant_portal/app/services/admin.py
Due: none

feat(commands): add seed_data management command
  docker/django/entrypoint.sh
  litigant_portal/app/management/commands/seed_data.py
  litigant_portal/app/models/__init__.py
Due: none

feat(views): add admin site endpoints
  litigant_portal/app/selectors/admin.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/admin.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
