Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(branding): court name slot in chat sub-header
  chat/prompts/__init__.py
  chat/prompts/courts/dupage_il.py
  chat/prompts/courts/nd.py
  chat/tests/test_prompts.py
  portal/tests.py
  portal/views.py
  src/css/main.css
  templates/pages/chat.html
Due: prettier, csp-inline-check

feat(sidebar): pin urgent-priority blockers with warning affordance
  chat/tests/test_models.py
  portal/tests.py
  static/js/chat.js
  templates/pages/chat.html
Due: prettier, csp-inline-check

feat(admin): add admin_site app with branded /admin landing page
  admin_site/__init__.py
  admin_site/apps.py
  admin_site/migrations/__init__.py
  admin_site/urls.py
  admin_site/views.py
  config/settings.py
  config/urls.py
  templates/pages/admin/index.html
Due: csp-inline-check

feat(admin): add ConfigKey model
  admin_site/migrations/0001_initial.py
  admin_site/models.py
Due: none

refactor(admin): replace ConfigKey with Settings singleton + ChatModel
  admin_site/migrations/0001_initial.py
  admin_site/models.py
Due: none

refactor(admin): rename Settings to Site, drop migration
  admin_site/migrations/0001_initial.py
  admin_site/models.py
Due: none

feat(admin): chat model management UI
  admin_site/forms.py
  admin_site/models.py
  admin_site/urls.py
  admin_site/views.py
  templates/pages/admin/chat_model_form.html
  templates/pages/admin/chat_model_list.html
  templates/pages/admin/index.html
  templates/pages/admin/site_edit.html
Due: csp-inline-check

feat(admin): superuser-only access + dev login auto-bootstrap
  admin_site/decorators.py
  admin_site/dev_auth.py
  admin_site/views.py
  config/urls.py
  docker-compose.yml
Due: prettier

refactor(chat): drive chat model from Site singleton, drop env vars
  admin_site/models.py
  chat/agents/base.py
  chat/tests/test_views.py
  chat/views.py
  config/settings.py
  docker-compose.yml
  tox.ini
Due: prettier

feat(admin): sidebar nav + searchable users tab
  admin_site/urls.py
  admin_site/views.py
  static/js/components.js
  templates/cotton/organisms/admin_shell.html
  templates/pages/admin/chat_model_form.html
  templates/pages/admin/chat_model_list.html
  templates/pages/admin/index.html
  templates/pages/admin/site_edit.html
  templates/pages/admin/users.html
Due: prettier, csp-inline-check

refactor(admin): single-page settings + sidebar polish + form fixes
  admin_site/dev_auth.py
  admin_site/forms.py
  admin_site/urls.py
  admin_site/views.py
  static/js/components.js
  templates/cotton/atoms/input.html
  templates/cotton/atoms/select.html
  templates/cotton/molecules/form_field.html
  templates/cotton/molecules/form_field_select.html
  templates/cotton/organisms/admin_shell.html
  templates/pages/admin/chat_model_form.html
  templates/pages/admin/chat_model_list.html
  templates/pages/admin/index.html
  templates/pages/admin/site_edit.html
Due: prettier, csp-inline-check

feat(admin): admin link in user menu, broaden gate to staff or superuser
  admin_site/decorators.py
  admin_site/views.py
  templates/cotton/molecules/user_menu.html
Due: csp-inline-check

style(admin): widen sidebar and switch tabs to bordered cells
  templates/cotton/organisms/admin_shell.html
Due: csp-inline-check

fix(admin): accept slashes in ChatModel.slug
  admin_site/models.py
Due: none

style(admin): wall-to-wall dashboard layout
  static/js/components.js
  templates/cotton/organisms/admin_shell.html
  templates/pages/admin/index.html
  templates/pages/admin/users.html
Due: prettier, csp-inline-check

style(admin): card-based settings layout, dashboard tinted bg
  templates/cotton/organisms/admin_shell.html
  templates/pages/admin/index.html
  templates/pages/admin/users.html
Due: csp-inline-check

Revert "style(admin): card-based settings layout, dashboard tinted bg"
  templates/cotton/organisms/admin_shell.html
  templates/pages/admin/index.html
  templates/pages/admin/users.html
Due: csp-inline-check

fix(dev): make Tailwind watcher actually work in Docker
  scripts/docker-entrypoint.sh
Due: none

fix(admin): server-render the user total
  admin_site/views.py
  templates/pages/admin/users.html
Due: csp-inline-check

refactor(admin): inline chat model dropdown + manage modal
  admin_site/forms.py
  admin_site/urls.py
  admin_site/views.py
  static/js/components.js
  templates/pages/admin/chat_model_form.html
  templates/pages/admin/index.html
Due: prettier, csp-inline-check

fix(chat): preserve case state when archive request fails
  static/js/chat.js
  templates/pages/chat.html
Due: prettier, csp-inline-check

docs(claude): document sprint cadence and naming convention
  CLAUDE.md
Due: prettier

ci(cd): harden QA deploy with SHA pins, health check, and concurrency
  .github/workflows/cd.yml
Due: prettier

fix(chat): debounce clearCaseInfo + drop redundant aria-live
  static/js/chat.js
  templates/pages/chat.html
Due: prettier, csp-inline-check

refactor(header): rename Clear Demo → Reset Demo (dev/QA reset affordance)
  static/js/components.js
  templates/cotton/organisms/header.html
Due: prettier, csp-inline-check

feat(package): minimal package setup
  .pre-commit-config.yaml
  README.md
  litigant_portal/__init__.py
  pyproject.toml
  tests/__init__.py
  tests/test_hello.py
  tox.ini
  uv.lock
Due: prettier, uv-lock-check

feat(app): add minimal django app
  litigant_portal/app/__init__.py
  litigant_portal/app/apps.py
  litigant_portal/app/migrations/__init__.py
  litigant_portal/app/models.py
  litigant_portal/app/templates/about.html
  litigant_portal/app/templates/admin.html
  litigant_portal/app/templates/chat.html
  litigant_portal/app/templates/index.html
  litigant_portal/app/templates/login.html
  litigant_portal/app/urls.py
  litigant_portal/app/views.py
  litigant_portal/models.py
  litigant_portal/settings.py
  litigant_portal/utils.py
Due: none

feat(cli): add cli and manage command
  litigant_portal/cli/__init__.py
  litigant_portal/cli/manage.py
Due: none

feat(cli): add tailwind cli helper
  .gitignore
  docker/django/install-tailwind.sh
  litigant_portal/app/static/css/main.css
  litigant_portal/cli/__init__.py
  litigant_portal/cli/tailwind.py
  litigant_portal/settings.py
  pyproject.toml
  uv.lock
Due: prettier, uv-lock-check

feat(app): add base template
  litigant_portal/app/templates/base.html
  litigant_portal/app/templates/includes/icons.html
  litigant_portal/app/templates/register.html
  litigant_portal/app/urls.py
  litigant_portal/app/views.py
Due: none

chore(deps): batch security upgrade for 14 dependabot alerts
  uv.lock
Due: none

refactor(prompts): migrate Court + Topic content from .py to .md
  CLAUDE.md
  chat/prompts/__init__.py
  chat/prompts/courts/__init__.py
  chat/prompts/courts/dupage_il.md
  chat/prompts/courts/dupage_il.py
  chat/prompts/courts/nd.md
  chat/prompts/courts/nd.py
  chat/prompts/topics/__init__.py
  chat/prompts/topics/adult_name_change.md
  chat/prompts/topics/adult_name_change.py
  chat/prompts/topics/eviction.md
  chat/prompts/topics/eviction.py
  portal/views.py
Due: prettier

refactor(prompts): per-court/topic directory layout with court.json
  chat/prompts/__init__.py
  chat/prompts/courts/__init__.py
  chat/prompts/courts/dupage_il/court.json
  chat/prompts/courts/dupage_il/prompt.md
  chat/prompts/courts/nd/court.json
  chat/prompts/courts/nd/prompt.md
  chat/prompts/topics/__init__.py
  chat/prompts/topics/adult_name_change/prompt.md
  chat/prompts/topics/eviction/prompt.md
Due: prettier

test(prompts): add coverage for is_known_topic, is_known_court, and slug validation
  chat/tests/test_prompts.py
Due: none

chore(prompts): log warning when court.json fails to parse
  chat/prompts/__init__.py
Due: none

fix(routing): canonical hyphenated court slugs (north-dakota, dupage-il)
  chat/prompts/__init__.py
  chat/prompts/courts/dupage-il/court.json
  chat/prompts/courts/dupage-il/prompt.md
  chat/prompts/courts/north-dakota/court.json
  chat/prompts/courts/north-dakota/prompt.md
  chat/tests/test_chat_session_topic.py
  chat/tests/test_prompts.py
  docs/nd-name-change-planning-log.md
  portal/tests.py
Due: prettier

test(prompts): use canonical slug in case-insensitive lookup test
  chat/tests/test_prompts.py
Due: none

fix(tests): rewrite court round-trip for disk-based registry
  portal/tests.py
Due: none

feat(prompts): define court.json schema with startup validation
  chat/apps.py
  chat/checks.py
  chat/prompts/__init__.py
  chat/prompts/courts/_schema.json
  chat/prompts/courts/dupage-il/court.json
  chat/prompts/courts/north-dakota/court.json
  chat/tests/test_court_schema.py
  pyproject.toml
  uv.lock
Due: prettier, uv-lock-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
