Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(services): add identity helpers to services
  litigant_portal/app/services/identity.py
Due: none

feat(middleware): add middleware to lazily access request.identity
  litigant_portal/app/middleware.py
Due: none

feat(signals): update signal to merge user identity on login
  litigant_portal/app/signals.py
Due: none

feat(commands): update cleanup_session cmd to use user identities
  litigant_portal/app/management/commands/cleanup_sessions.py
Due: none

feat(app): register middleware, cleanup business logic in user identity model
  litigant_portal/app/models/user.py
  litigant_portal/settings.py
Due: none

feat(tests): update tests to use user identity model
  litigant_portal/app/tests/test_action_plan.py
  litigant_portal/app/tests/test_agents.py
  litigant_portal/app/tests/test_chat_session_topic.py
  litigant_portal/app/tests/test_identity_services.py
  litigant_portal/app/tests/test_middleware.py
  litigant_portal/app/tests/test_models.py
  litigant_portal/app/tests/test_signals.py
  litigant_portal/app/tests/test_views.py
Due: none

feat(migrations): add user identity migrations
  litigant_portal/app/migrations/0002_useridentity.py
Due: none

feat(endpoints): drop ownership filter, use request.identity directly
  litigant_portal/app/views/endpoints.py
Due: none

feat(tests): fix references to deleted UserIdentity.for_request
  litigant_portal/agents/base.py
  litigant_portal/app/services/chat_service.py
  litigant_portal/app/tests/test_chat_session_topic.py
Due: none

feat(topic-flow): fact_gather POST persists answers + deadline math (Item 5)
  litigant_portal/app/tests/test_topic_flow_deadlines.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/deadlines.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
Due: none

refactor(topic-flow): extract _fact_gather_questions walker
  litigant_portal/app/topic_flow/renderer.py
Due: none

style(topic-flow): wrap deadlines test lines to ruff limit
  litigant_portal/app/tests/test_topic_flow_deadlines.py
Due: none

feat(pyproject): add redis dep
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(docker): add redis service to docker
  .env.example
  docker-compose.yml
Due: prettier

feat(app): configure redis for django caching
  litigant_portal/settings.py
Due: none

feat(services): add health check helpers
  litigant_portal/app/services/health.py
Due: none

feat(endpoints): update health check endpoint
  .github/workflows/cd.yml
  litigant_portal/app/urls.py
  litigant_portal/app/views/endpoints.py
  litigant_portal/app/views/pages.py
Due: prettier

docs: add LP Iteration ↔ web-team sprint crosswalk
  CLAUDE.md
  docs/sprint-map.md
Due: prettier

feat(tests): add pytest conf to patch settings to use memcache in tests
  litigant_portal/app/services/health.py
  litigant_portal/app/tests/conftest.py
Due: none

docs(sprint-map): add mirror pipeline, do-no-harm, parity-verify lens
  docs/sprint-map.md
Due: prettier

feat(topic-flow): render personalized deadlines in ics output (#494)
  litigant_portal/app/templates/cotton/molecules/flow_section_ics.html
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
Due: none

fix(cd): sync deploy tree to main before compose up (#501)
  .github/workflows/cd.yml
Due: prettier

feat(topic-flow): .ics add-to-calendar handoff
  litigant_portal/app/templates/cotton/molecules/flow_section_ics.html
  litigant_portal/app/tests/test_topic_flow_artifacts.py
  litigant_portal/app/tests/test_topic_flow_deadlines.py
  litigant_portal/app/tests/test_topic_flow_downloads.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/artifacts.py
  litigant_portal/app/topic_flow/deadlines.py
  litigant_portal/app/topic_flow/downloads.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(topic-flow): declare UTF-8 charset on .ics download
  litigant_portal/app/tests/test_topic_flow_downloads.py
  litigant_portal/app/topic_flow/downloads.py
Due: none

feat(topic-flow): .vcf add-to-contacts handoff
  litigant_portal/app/templates/cotton/molecules/flow_section_vcf.html
  litigant_portal/app/tests/test_topic_flow_artifacts.py
  litigant_portal/app/tests/test_topic_flow_contacts.py
  litigant_portal/app/tests/test_topic_flow_downloads.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/artifacts.py
  litigant_portal/app/topic_flow/contacts.py
  litigant_portal/app/topic_flow/downloads.py
  litigant_portal/app/topic_flow/renderer.py
  pyproject.toml
Due: uv-lock-check

docs(topic-flow): refresh renderer test docstring for registered vcf handler
  litigant_portal/app/tests/test_topic_flow_renderer.py
Due: none

feat(topic-flow): split ND name change into standard + waiver track flows
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

feat(topic-flow): seed Adult Name Change demo corpus + dev-menu link
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/content/adult-name-change.yml
Due: prettier

docs(architecture): document Topic Flow linear-structure + entry-point-fork principle
  docs/ARCHITECTURE.md
Due: prettier

feat(topic-flow): flesh out ND name-change corpus with real public-sourced content
  litigant_portal/content/adult-name-change.yml
Due: prettier

fix(topic-flow): return to the saved section on Save, not the page top
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
Due: none

feat(topic-flow): move in-flow wayfinding into a native details header TOC
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/app/templates/pages/topic_flow.html
  litigant_portal/app/views/pages.py
Due: prettier

style(test): ruff-format anchor assertion
  litigant_portal/app/tests/test_topic_flow_renderer.py
Due: none

feat(docker): add S3 env vars
  .env.example
  docker-compose.yml
Due: prettier

feat(pyproject): drop whitenoise, add django-storages
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(settings): configure storages in settings
  .gitignore
  litigant_portal/settings.py
Due: none

feat(tests): use in-memory storage for tests
  litigant_portal/app/tests/conftest.py
Due: none

feat(api): add storage check to health endpoint
  litigant_portal/app/services/health.py
  litigant_portal/app/views/endpoints.py
Due: none

feat(topic-flow): drop raw-slug breadcrumb on the flow page
  litigant_portal/app/templates/pages/topic_flow.html
Due: none

revert: S3 storage migration (#516)
  .env.example
  .gitignore
  docker-compose.yml
  litigant_portal/app/services/health.py
  litigant_portal/app/tests/conftest.py
  litigant_portal/app/views/endpoints.py
  litigant_portal/settings.py
  pyproject.toml
  uv.lock
Due: prettier, uv-lock-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
