Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(app): move locale files to app
  litigant_portal/app/locale/es/LC_MESSAGES/django.po
  litigant_portal/app/locale/es/LC_MESSAGES/djangojs.po
Due: none

feat(docker): simplify docker file stages
  docker/django/Dockerfile
Due: none

feat(docker): simplify entrypoint and fix tailwind watcher
  docker/django/entrypoint.sh
Due: none

feat(docker): fix paths in docker compose, gitignore, make, settings
  .gitignore
  Makefile
  docker-compose.yml
  litigant_portal/settings.py
Due: prettier

fix(settings): validate DEPLOYMENT_ENV and warn on unknown values
  config/settings.py
Due: none

feat(infra): set up issue templates (bug, feature, task) + chooser config
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/qa-round.md
  .github/ISSUE_TEMPLATE/task.yml
  CLAUDE.md
Due: prettier

chore(infra): tighten issue templates per QA feedback
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/qa-round.md
  .github/ISSUE_TEMPLATE/qa-round.yml
  .github/ISSUE_TEMPLATE/task.yml
  CLAUDE.md
  SECURITY.md
Due: prettier

docs(infra): capture issue templates + label color scheme
  CLAUDE.md
  docs/issue-conventions.md
Due: prettier

feat(tests): update tests path and add a placeholder test
  litigant_portal/app/tests.py
  pyproject.toml
  tox.ini
Due: uv-lock-check

feat(tooling): add make file-issue for prefilled issue-form URLs
  CLAUDE.md
  Makefile
  scripts/file_issue.py
Due: prettier

feat(docker): update dockerfile path in build workflow
  .github/workflows/cd.yml
Due: prettier

feat(app): add tailwind config so build succeeds
  docker-compose.yml
  litigant_portal/app/static/css/main.css
Due: prettier

feat(app): move static content
  litigant_portal/app/static/images/logo.svg
  litigant_portal/app/static/images/logo_powered.svg
  litigant_portal/app/static/js/alpine.js
  litigant_portal/app/static/js/alpine.min.js
  litigant_portal/app/static/js/chat.js
  litigant_portal/app/static/js/components.js
  litigant_portal/app/static/js/theme.js
  src/css/main.css
Due: prettier

feat(app): move app models
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/chat.py
  litigant_portal/app/models/user.py
Due: none

feat(app): move management commands
  litigant_portal/app/management/__init__.py
  litigant_portal/app/management/commands/__init__.py
  litigant_portal/app/management/commands/cleanup_sessions.py
Due: none

feat(app): move django admin config
  chat/admin.py
  litigant_portal/app/admin.py
  portal/admin.py
Due: none

feat(app): move signals
  chat/signals.py
  litigant_portal/app/signals.py
Due: none

feat(app): move checks and middleware
  chat/checks.py
  chat/middleware.py
  litigant_portal/app/checks.py
  litigant_portal/app/middleware.py
Due: none

feat(app): move prompts module
  litigant_portal/prompts/__init__.py
  litigant_portal/prompts/base.py
  litigant_portal/prompts/courts/__init__.py
  litigant_portal/prompts/courts/_schema.json
  litigant_portal/prompts/courts/dupage-il/court.json
  litigant_portal/prompts/courts/dupage-il/prompt.md
  litigant_portal/prompts/courts/north-dakota/court.json
  litigant_portal/prompts/courts/north-dakota/prompt.md
  litigant_portal/prompts/phases/__init__.py
  litigant_portal/prompts/phases/prepare.py
  litigant_portal/prompts/phases/resolve.py
  litigant_portal/prompts/phases/triage.py
  litigant_portal/prompts/topics/__init__.py
  litigant_portal/prompts/topics/_schema.json
  litigant_portal/prompts/topics/adult_name_change/prompt.md
  litigant_portal/prompts/topics/adult_name_change/topic.json
  litigant_portal/prompts/topics/eviction/prompt.md
  litigant_portal/prompts/topics/eviction/topic.json
Due: prettier

feat(app): move services, delete unused extraction_service
  chat/services/extraction_service.py
  litigant_portal/app/services/__init__.py
  litigant_portal/app/services/chat_service.py
  litigant_portal/app/services/pdf_service.py
  litigant_portal/app/services/search_service.py
Due: none

feat(app): move tests
  chat/tests/__init__.py
  litigant_portal/app/tests/__init__.py
  litigant_portal/app/tests/test_action_plan.py
  litigant_portal/app/tests/test_agents.py
  litigant_portal/app/tests/test_case_views.py
  litigant_portal/app/tests/test_chat_session_topic.py
  litigant_portal/app/tests/test_court_schema.py
  litigant_portal/app/tests/test_middleware.py
  litigant_portal/app/tests/test_models.py
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/tests/test_prompts.py
  litigant_portal/app/tests/test_services.py
  litigant_portal/app/tests/test_signals.py
  litigant_portal/app/tests/test_topic_schema.py
  litigant_portal/app/tests/test_views.py
Due: none

feat(app): delete old migration files
  chat/migrations/0001_initial.py
  chat/migrations/0002_caseinfo_timelineevent_and_more.py
  chat/migrations/0003_caseinfo_chat_session_alter_caseinfo_user.py
  chat/migrations/0004_add_topic_jurisdiction_to_chatsession.py
  chat/migrations/0005_deadline_actionitem.py
  chat/migrations/0006_migrate_dates_and_actions.py
  chat/migrations/0007_resolution_fields.py
  chat/migrations/__init__.py
  portal/migrations/0001_initial.py
  portal/migrations/__init__.py
Due: none

feat(app): move context processors
  litigant_portal/app/context_processors.py
Due: none

feat(app): move views
  litigant_portal/app/views/__init__.py
  litigant_portal/app/views/api.py
  litigant_portal/app/views/app.py
  litigant_portal/app/views/chat.py
Due: none

feat(app): move forms
  litigant_portal/app/forms.py
Due: none

feat(app): consolidate urls
  config/urls.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/endpoints.py
  litigant_portal/app/views/pages.py
  portal/urls.py
Due: none

feat(app): update prompts path in app checks
  litigant_portal/app/checks.py
Due: none

feat(agents): update model paths in agents
  litigant_portal/agents/base.py
  litigant_portal/agents/litigant_assistant.py
Due: none

feat(app): update url namespace in templates
  litigant_portal/app/templates/account/logout.html
  litigant_portal/app/templates/cotton/molecules/logo.html
  litigant_portal/app/templates/cotton/molecules/user_menu.html
  litigant_portal/app/templates/cotton/organisms/footer.html
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/app/templates/cotton/organisms/topic_detail.html
  litigant_portal/app/templates/cotton/organisms/topic_grid.html
  litigant_portal/app/templates/pages/action_plan.html
  litigant_portal/app/templates/pages/chat.html
  litigant_portal/app/templates/pages/profile/detail.html
  litigant_portal/app/templates/pages/profile/edit.html
Due: none

feat(app): delete remaining files from old chat and portal apps
  chat/apps.py
  litigant_portal/app/tests.py
  litigant_portal/app/views/__init__.py
  portal/__init__.py
  portal/apps.py
  portal/tests.py
Due: none

feat(agents): allow litellm completions to inherit creds from env
  litigant_portal/agents/base.py
Due: none

feat(app): small import path fixes
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
Due: none

feat(app): add initial migrations
  litigant_portal/app/migrations/0001_initial.py
  litigant_portal/app/migrations/__init__.py
Due: none

style(app): code format
  litigant_portal/agents/base.py
  litigant_portal/app/checks.py
  litigant_portal/app/static/js/alpine.js
  litigant_portal/app/tests/test_chat_session_topic.py
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/endpoints.py
Due: prettier

style(app): code format
  litigant_portal/app/views/pages.py
Due: none

feat(app): fix package import paths in tests
  .dockerignore
  Makefile
  chat/__init__.py
  chat/urls.py
  docker/django/Dockerfile
  litigant_portal/app/tests/test_action_plan.py
  litigant_portal/app/tests/test_agents.py
  litigant_portal/app/tests/test_case_views.py
  litigant_portal/app/tests/test_chat_session_topic.py
  litigant_portal/app/tests/test_court_schema.py
  litigant_portal/app/tests/test_models.py
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/tests/test_prompts.py
  litigant_portal/app/tests/test_services.py
  litigant_portal/app/tests/test_signals.py
  litigant_portal/app/tests/test_topic_schema.py
  litigant_portal/app/tests/test_views.py
  litigant_portal/app/views/__init__.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
