Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

feat(chat): in-chat fact review and interview launch
  litigant_portal/agents/assistant.py
  litigant_portal/agents/tools/review_facts.py
  litigant_portal/app/static/js/chat_engine.js
  litigant_portal/app/templates/tools/review_facts_call.html
  litigant_portal/app/templates/tools/review_facts_result.html
  litigant_portal/app/topic_flow/registry.py
Due: prettier

feat(chat): corpus grounding with source citations
  litigant_portal/agents/assistant.py
  litigant_portal/agents/tools/load_topic_flow.py
  litigant_portal/agents/tools/review_facts.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/static/js/chat_engine.js
  litigant_portal/app/tests/test_assistant_topic_flow.py
Due: prettier

feat(chat): route to the guided flow when AI is unavailable
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/static/js/chat_engine.js
Due: prettier

feat(chat): reopen the active thread after a reload
  litigant_portal/app/static/js/chat_engine.js
Due: prettier

feat(topic_flow): show saved answers on the guided page
  litigant_portal/app/templates/cotton/molecules/flow_section_fact_gather.html
  litigant_portal/app/tests/test_content_never_prefill.py
  litigant_portal/app/tests/test_topic_flow_prefill.py
  litigant_portal/app/tests/test_topic_flow_renderer.py
  litigant_portal/app/tests/test_topic_flow_view.py
  litigant_portal/app/topic_flow/renderer.py
  litigant_portal/app/views/pages.py
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

fix(chat): refresh the briefcase after each chat turn
  litigant_portal/app/static/js/chat_engine.js
  litigant_portal/app/templates/cotton/organisms/briefcase_panel.html
  litigant_portal/app/templates/pages/chat/index.html
  litigant_portal/app/templates/pages/chat/partials/_briefcase.html
  litigant_portal/app/tests/test_briefcase.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/assistant.py
Due: prettier

build(pre-commit): drop the fix-encoding-pragma hook removed in pre-commit-hooks v6
  .pre-commit-config.yaml
Due: prettier

style(docs): apply ruff 0.16 formatting to Markdown code blocks
  docs/ai-tooling/AGENT_DEV_GUIDE.md
  docs/wiki/permissions.md
  docs/wiki/translation.md
  pyproject.toml
Due: prettier, uv-lock-check

feat(chat): add record_fact tool
  litigant_portal/agents/assistant.py
  litigant_portal/agents/tools/record_fact.py
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/templates/tools/record_fact_call.html
  litigant_portal/app/templates/tools/record_fact_result.html
  litigant_portal/app/tests/test_record_fact_tool.py
Due: none

feat(chat): expose stored facts to the assistant
  litigant_portal/agents/assistant.py
  litigant_portal/app/tests/test_assistant_prompt_facts.py
  litigant_portal/app/tests/test_record_fact_tool.py
Due: none

fix(chat): address record_fact review findings
  litigant_portal/agents/assistant.py
  litigant_portal/agents/tools/record_fact.py
  litigant_portal/app/templates/tools/record_fact_result.html
  litigant_portal/app/tests/test_assistant_prompt_facts.py
  litigant_portal/app/tests/test_record_fact_tool.py
Due: none

test(chat): cover the markdown renderer and wire up JS tests
  .github/workflows/tests.yml
  Makefile
  litigant_portal/app/tests/js/README.md
  litigant_portal/app/tests/js/chat_engine_markdown.test.cjs
Due: prettier

test(chat): cover the pure shaping functions
  litigant_portal/app/tests/js/README.md
  litigant_portal/app/tests/js/chat_engine_shaping.test.cjs
Due: prettier

style(test): apply prettier to the js test files
  litigant_portal/app/tests/js/README.md
  litigant_portal/app/tests/js/chat_engine_markdown.test.cjs
  litigant_portal/app/tests/js/chat_engine_shaping.test.cjs
Due: prettier

docs(qa): add the ND name-change AI agent testing script
  docs/ai-tooling/qa-scripts/ai-agent-testing-script-nd-name-change.md
Due: prettier

docs(qa): reconcile the ND testing script with the current corpus
  docs/ai-tooling/qa-scripts/ai-agent-testing-script-nd-name-change.md
Due: prettier

docs(test): record how the js tests were mutation-verified
  litigant_portal/app/tests/js/README.md
Due: prettier

fix(ci): pass the js test files instead of the directory
  .github/workflows/tests.yml
  Makefile
  litigant_portal/app/tests/js/README.md
Due: prettier

test(chat): add a JS test harness and cover the pure chat functions (#961)
  .github/workflows/tests.yml
  Makefile
  docs/ai-tooling/qa-scripts/ai-agent-testing-script-nd-name-change.md
  litigant_portal/app/tests/js/README.md
  litigant_portal/app/tests/js/chat_engine_markdown.test.cjs
  litigant_portal/app/tests/js/chat_engine_shaping.test.cjs
Due: prettier

docs(architecture): per-court AWS account relabel + EKS breakout
  docs/architecture/README.md
  docs/architecture/eks-breakout.drawio
  docs/architecture/eks-breakout.drawio.svg
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: prettier

docs(architecture): correct and re-space the EKS breakout
  docs/architecture/eks-breakout.drawio
  docs/architecture/eks-breakout.drawio.svg
Due: none

docs(architecture): add the legend and colour court-authored content
  docs/architecture/README.md
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: prettier

docs(architecture): redraw the system diagram as the deployed topology
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: none

docs(architecture): add the per-court isolation target as its own diagram
  docs/architecture/target-isolation.drawio
  docs/architecture/target-isolation.drawio.svg
Due: none

docs(architecture): document the diagram split and the icon label-wrap rule
  docs/architecture/README.md
Due: prettier

docs(architecture): system overview diagram (Mermaid / C4)
  docs/architecture/system-overview.md
Due: prettier

docs(architecture): system architecture diagram in draw.io (AWS4)
  docs/architecture/README.md
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
  docs/architecture/system-overview.md
Due: prettier

docs(architecture): add the corpus pipeline diagram
  docs/architecture/README.md
  docs/architecture/corpus-pipeline.drawio
  docs/architecture/corpus-pipeline.drawio.svg
  docs/architecture/corpus-pipeline.md
Due: prettier

docs(architecture): address review on the diagrams and their README
  docs/README.md
  docs/architecture/README.md
  docs/architecture/eks-breakout.drawio
  docs/architecture/eks-breakout.drawio.svg
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: prettier

build(docs): add make diagrams to regenerate the architecture SVGs
  Makefile
  docs/architecture/README.md
Due: prettier

docs(claude): document make diagrams and running draw.io outside the sandbox
  CLAUDE.md
Due: prettier

style(docs): align the architecture table in the docs index
  docs/README.md
Due: prettier

docs(architecture): count all four diagrams in the README
  docs/architecture/README.md
Due: prettier

fix(chat): quote fact values in the assist prompt
  litigant_portal/agents/assistant.py
  litigant_portal/app/tests/test_assistant_prompt_facts.py
Due: none

fix(chat): keep confirmation if a fact is restated
  litigant_portal/agents/tools/record_fact.py
  litigant_portal/app/templates/tools/record_fact_result.html
  litigant_portal/app/tests/test_record_fact_cards.py
  litigant_portal/app/tests/test_record_fact_tool.py
Due: none

docs(docassemble): upload interviews to the editor, not Folders → Sources
  docassemble/nd-name-change/README.md
  docs/docassemble.md
Due: prettier

Chat records user-stated facts as unconfirmed answers (#959)
  litigant_portal/agents/assistant.py
  litigant_portal/agents/tools/record_fact.py
  litigant_portal/app/selectors/chat_engine.py
  litigant_portal/app/templates/tools/record_fact_call.html
  litigant_portal/app/templates/tools/record_fact_result.html
  litigant_portal/app/tests/test_assistant_prompt_facts.py
  litigant_portal/app/tests/test_record_fact_cards.py
  litigant_portal/app/tests/test_record_fact_tool.py
Due: none
