Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

feat(docker): move to single caddy config
  docker/caddy/Caddyfile
  docker/caddy/Caddyfile.prod
Due: none

feat(package): update makefile commands
  Makefile
Due: none

docs(docs): update claude md and readme
  .env.example
  CLAUDE.md
  README.md
Due: prettier

fix(tox): fix updated postgres service name
  tox.ini
Due: none

feat(readme): fix readme link
  CLAUDE.md
Due: prettier

feat(package): drop DO-specific update script and commands
  Makefile
  scripts/update.sh
Due: none

feat(docassemble): remove DO-specific docassemble configs
  docker-compose.docassemble.qa.yml
  docker/caddy/conf.d/docassemble.caddy
Due: prettier

feat(package): update env example
  .env.example
  CLAUDE.md
  docker-compose.yml
Due: prettier

feat(workflows): replace old cd workflow with a docker-build check only
  .github/workflows/cd.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
Due: prettier

feat(package): reapplies #516 to add s3 storage support
  .env.example
  .gitignore
  docker-compose.yml
  litigant_portal/app/services/health.py
  litigant_portal/app/tests/conftest.py
  litigant_portal/app/views/endpoints.py
  litigant_portal/settings.py
  pyproject.toml
  uv.lock
Due: prettier, uv-lock-check

fix(csp): allow direct S3 endpoints for public assets and private media
  litigant_portal/settings.py
Due: none

fix(topic-flow): correct ND name-change corpus against court source docs
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

chore: add gitignored local archive for court-partner corpus source docs
  .gitignore
  corpus-sources/README.md
Due: prettier

feat(middleware): add middleware for temp site password
  docker-compose.yml
  litigant_portal/app/middleware.py
  litigant_portal/app/templates/site_password.html
  litigant_portal/settings.py
Due: prettier

feat(middleware): address review nits on temp password middleware
  litigant_portal/app/middleware.py
Due: none

feat(settings): fix s3 default bucket names
  litigant_portal/settings.py
Due: none

feat(settings): drop the django-side acl (let aws manage it)
  litigant_portal/settings.py
Due: none

feat(middleware): return 200s for site password page
  litigant_portal/app/middleware.py
Due: none

feat(settings): temporarily disable custom s3 domain name
  litigant_portal/settings.py
Due: none

style(settings): code format
  litigant_portal/settings.py
Due: none

feat(chat): add demo court context switcher (dev/QA only)
  litigant_portal/app/context_processors.py
  litigant_portal/app/court_context.py
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/app/tests/test_court_context.py
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
  litigant_portal/settings.py
Due: none

feat(chat): mobile drawer for case briefcase + activity timeline
  litigant_portal/app/static/js/chat.js
  litigant_portal/app/templates/cotton/organisms/activity_timeline.html
  litigant_portal/app/templates/cotton/organisms/case_sidebar_content.html
  litigant_portal/app/templates/pages/chat.html
Due: prettier

fix(chat): keep drawer below site nav + add swipe gestures
  litigant_portal/app/src/main.css
  litigant_portal/app/static/js/chat.js
  litigant_portal/app/templates/pages/chat.html
Due: prettier

feat(chat): remove briefcase Clear — Start over lives in the menu
  litigant_portal/app/templates/cotton/organisms/header.html
  litigant_portal/app/templates/pages/chat.html
Due: none

feat(chat): persistent Topic Flow links — deterministic AI to flow handoff
  litigant_portal/app/templates/cotton/molecules/flow_links.html
  litigant_portal/app/templates/pages/chat.html
  litigant_portal/app/tests/test_portal.py
  litigant_portal/app/tests/test_topic_flow_registry.py
  litigant_portal/app/topic_flow/registry.py
  litigant_portal/app/views/pages.py
  litigant_portal/prompts/courts/north-dakota/prompt.md
  litigant_portal/prompts/topics/adult_name_change/prompt.md
Due: prettier

fix(chat): hide native disclosure marker on drawer Activity summary
  litigant_portal/app/templates/pages/chat.html
Due: none

feat(topic-flow): redraft ND name-change corpus copy per legal review
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

feat(prompts): no em-dashes in user-facing output + content style conventions
  CLAUDE.md
  docs/ai-tone-guide.md
  litigant_portal/prompts/base.py
Due: prettier

fix(content): address bot review — em-dash stragglers + dangling clause
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
  litigant_portal/prompts/base.py
Due: prettier

feat(corpus): ND name change asks only for what the page uses
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

docs(architecture): handoff contract reflects the #621 prune
  docs/ARCHITECTURE.md
Due: prettier

fix(content): drop 'official' from user-facing copy
  CLAUDE.md
  litigant_portal/app/templates/pages/profile/edit.html
  litigant_portal/content/_test_fixture.yml
  litigant_portal/content/adult-name-change-standard.yml
  litigant_portal/content/adult-name-change-waiver.yml
Due: prettier

feat(topic-flow): scaffold Franklin County eviction corpus (tenant)
  litigant_portal/content/eviction-tenant.yml
  litigant_portal/prompts/courts/franklin-county-oh/court.json
Due: prettier

feat(topic-flow): landlord scaffold — eviction forks tenant/landlord at entry
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/content/eviction-tenant.yml
Due: prettier

feat(topic-flow): Franklin County eviction corpus content, both tracks
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/content/eviction-tenant.yml
Due: prettier

feat(topic-flow): fold FCMC filing packet facts into eviction corpus
  litigant_portal/content/eviction-landlord.yml
  litigant_portal/content/eviction-tenant.yml
Due: prettier

test(chat): eviction now has corpora — repoint no-corpus case, cover second court
  litigant_portal/app/tests/test_portal.py
Due: none

feat(deploy): restore manual QA deploy to DigitalOcean
  .github/workflows/qa-deploy-do.yml
  deploy/qa-do/Caddyfile.qa
  deploy/qa-do/README.md
  deploy/qa-do/docker-compose.qa.yml
Due: prettier

feat(settings): gate storage backend on USE_S3, not DEBUG
  litigant_portal/app/tests/test_settings_storage.py
  litigant_portal/settings.py
Due: none

fix(deploy): run DO QA on filesystem storage without S3
  deploy/qa-do/Caddyfile.qa
  deploy/qa-do/docker-compose.qa.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
