Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

feat(menu): add the AZ civil traffic demo link
  litigant_portal/app/templates/cotton/molecules/site_menu.html
Due: none

feat(corpus): drop the summary section from the AZ civil traffic page
  litigant_portal/content/civil-traffic-options.yml
Due: prettier

Ground chat answers in the court corpus with stable source citations (#994)
  litigant_portal/agents/assistant.py
  litigant_portal/agents/citations.py
  litigant_portal/agents/message_schema.py
  litigant_portal/agents/tools/load_topic_flow.py
  litigant_portal/app/cache.py
  litigant_portal/app/migrations/0021_source_keys.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/site.py
  litigant_portal/app/models/topic_flow.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/services/chat_engine.py
  litigant_portal/app/services/corpus.py
  litigant_portal/app/static/js/chat_engine.js
  litigant_portal/app/tests/js/chat_engine_markdown.test.cjs
  litigant_portal/app/tests/test_assistant_topic_flow.py
  litigant_portal/app/tests/test_chat_citations.py
  litigant_portal/app/tests/test_citations.py
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
  litigant_portal/app/tests/test_site_singleton.py
  litigant_portal/corpus/courts/franklin-county-oh/court.yml
  litigant_portal/corpus/courts/franklin-county-oh/topics/eviction/flows/landlord.yml
  litigant_portal/corpus/courts/franklin-county-oh/topics/eviction/flows/tenant.yml
  litigant_portal/corpus/courts/north-dakota/court.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/standard.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/waiver.yml
Due: prettier

fix(dev-tools): drop the query when Start over returns to next
  litigant_portal/app/tests/test_start_over.py
  litigant_portal/app/views/pages.py
Due: none

fix(corpus): give the AZ civil traffic corpus its citation ids
  litigant_portal/content/civil-traffic-options.yml
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/flows/options.yml
Due: prettier

fix(eval): count only scheduled cases in the report
  scripts/agent_eval/report.py
  scripts/agent_eval/runner.py
  scripts/agent_eval/schema.py
Due: none

refat(eval): move conversation into their own group
  scripts/agent_eval/README.md
  scripts/agent_eval/cases.yml
  scripts/agent_eval/report.py
  scripts/agent_eval/schema.py
Due: prettier

test: assert the Site singleton migration through its historical models
  litigant_portal/app/tests/test_site_singleton_migration.py
Due: none

feat(branding): court branding in the court config
  litigant_portal/app/checks/corpus.py
  litigant_portal/app/context_processors.py
  litigant_portal/app/migrations/0023_site_branding.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/services/corpus.py
  litigant_portal/app/tests/conftest.py
  litigant_portal/app/tests/test_context_processors.py
  litigant_portal/app/tests/test_corpus_checks.py
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
  litigant_portal/corpus/courts/arizona/branding/logo.png
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/north-dakota/branding/logo.png
  litigant_portal/corpus/courts/north-dakota/branding/name.png
  litigant_portal/corpus/courts/north-dakota/court.yml
  litigant_portal/settings.py
  pyproject.toml
Due: prettier, uv-lock-check

build(make): add test-failed (test-fo) to rerun only last run's failures
  Makefile
Due: none

fix(eval): drop the ungradable fee-waiver fact
  scripts/agent_eval/cases.yml
Due: prettier

feat(home): get help page and sign-up entry points replace the home page's placeholder blocks
  CLAUDE.md
  litigant_portal/app/migrations/0024_contact_kind.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/choices.py
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/account/signup.html
  litigant_portal/app/templates/cotton/molecules/contact_card.html
  litigant_portal/app/templates/cotton/molecules/flow_section_vcf.html
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/app/templates/cotton/molecules/user_menu.html
  litigant_portal/app/templates/cotton/organisms/auth_cta.html
  litigant_portal/app/templates/cotton/organisms/fallback_resources.html
  litigant_portal/app/templates/pages/atomic_design/organisms.html
  litigant_portal/app/templates/pages/help.html
  litigant_portal/app/templates/pages/home.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
  litigant_portal/app/tests/test_help_page.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/franklin-county-oh/court.yml
  litigant_portal/corpus/courts/north-dakota/court.yml
Due: prettier

refactor(pages): one shared template for the info pages, with simpler, accurate content
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/pages/about.html
  litigant_portal/app/templates/pages/accessibility.html
  litigant_portal/app/templates/pages/help.html
  litigant_portal/app/templates/pages/info_base.html
  litigant_portal/app/templates/pages/privacy.html
  litigant_portal/app/tests/test_site_frame.py
Due: prettier

build(git): keep partner source documents byte-exact
  .gitattributes
  .pre-commit-config.yaml
Due: prettier

fix(corpus): align the AZ corpus tree with the live civil traffic page
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/topic.yml
  litigant_portal/corpus/variables.yml
Due: prettier

refactor(corpus): name the AZ court scottsdale-city-court-az
  .gitignore
  corpus-sources/scottsdale-city-court-az/SOURCE.md
  corpus-sources/scottsdale-city-court-az/branding/Full Color Seal - High Resolution.png
  corpus-sources/scottsdale-city-court-az/branding/Supreme-Court-Seal---Black-High-Resolution-Transparent (1).gif
  corpus-sources/scottsdale-city-court-az/branding/Supreme-Court-Seal---White-High-Resolution-Transparent.gif
  corpus-sources/scottsdale-city-court-az/civil-traffic/7-205 Defensive Driving 10-2025-1.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/AO200897-1.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/AZ Civil Traffic_Decision Tree_Sept 14_V3.md
  corpus-sources/scottsdale-city-court-az/civil-traffic/AZ_Civil_Traffic_Master_Flow.jpg
  corpus-sources/scottsdale-city-court-az/civil-traffic/AdminOrder200878-1.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/Defensive driving questions to Gavel.xlsx
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/Canned responses - Live Help.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/Civil Traffic Hearing Information.PDF
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/Courtroom Etiquette.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/How Will My Case Proceed.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/PE Flowchart.pdf
  corpus-sources/scottsdale-city-court-az/civil-traffic/Scottsdale Municipal Information/PE Options.pdf
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/content/civil-traffic-options.yml
  litigant_portal/corpus/courts/scottsdale-city-court-az/court.yml
  litigant_portal/corpus/courts/scottsdale-city-court-az/topics/civil-traffic/flows/options.yml
  litigant_portal/corpus/courts/scottsdale-city-court-az/topics/civil-traffic/topic.yml
Due: prettier

fix(corpus): correct the AZ civil traffic deadlines and warnings
  litigant_portal/content/civil-traffic-options.yml
  litigant_portal/corpus/courts/scottsdale-city-court-az/court.yml
  litigant_portal/corpus/courts/scottsdale-city-court-az/topics/civil-traffic/flows/options.yml
  litigant_portal/corpus/variables.yml
Due: prettier

docs(corpus): slugs are the court's own name
  corpus-sources/README.md
Due: prettier

revert(corpus): keep the arizona slug until the infra change lands
  .gitignore
  corpus-sources/README.md
  corpus-sources/arizona/SOURCE.md
  corpus-sources/arizona/branding/Full Color Seal - High Resolution.png
  corpus-sources/arizona/branding/Supreme-Court-Seal---Black-High-Resolution-Transparent (1).gif
  corpus-sources/arizona/branding/Supreme-Court-Seal---White-High-Resolution-Transparent.gif
  corpus-sources/arizona/civil-traffic/7-205 Defensive Driving 10-2025-1.pdf
  corpus-sources/arizona/civil-traffic/AO200897-1.pdf
  corpus-sources/arizona/civil-traffic/AZ Civil Traffic_Decision Tree_Sept 14_V3.md
  corpus-sources/arizona/civil-traffic/AZ_Civil_Traffic_Master_Flow.jpg
  corpus-sources/arizona/civil-traffic/AdminOrder200878-1.pdf
  corpus-sources/arizona/civil-traffic/Defensive driving questions to Gavel.xlsx
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Canned responses - Live Help.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Civil Traffic Hearing Information.PDF
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Courtroom Etiquette.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/How Will My Case Proceed.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/PE Flowchart.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/PE Options.pdf
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/content/civil-traffic-options.yml
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/flows/options.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/topic.yml
Due: prettier

fix(branding): a name image carries the name it shows as alt text
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/corpus/courts/north-dakota/court.yml
Due: prettier

fix(menu): lay out the signed-out user menu in the molecules preview
  litigant_portal/app/templates/cotton/molecules/user_menu.html
  litigant_portal/app/templates/pages/atomic_design/molecules.html
Due: none

Make Start over clear the session (#1005)
  litigant_portal/app/services/user.py
  litigant_portal/app/static/js/components.js
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_site_frame.py
  litigant_portal/app/tests/test_start_over.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
Due: prettier

AZ civil traffic corpus: Scottsdale "know my options" flow (#906)
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  corpus-sources/README.md
  corpus-sources/arizona/SOURCE.md
  corpus-sources/arizona/branding/Full Color Seal - High Resolution.png
  corpus-sources/arizona/branding/Supreme-Court-Seal---Black-High-Resolution-Transparent (1).gif
  corpus-sources/arizona/branding/Supreme-Court-Seal---White-High-Resolution-Transparent.gif
  corpus-sources/arizona/civil-traffic/7-205 Defensive Driving 10-2025-1.pdf
  corpus-sources/arizona/civil-traffic/AO200897-1.pdf
  corpus-sources/arizona/civil-traffic/AZ Civil Traffic_Decision Tree_Sept 14_V3.md
  corpus-sources/arizona/civil-traffic/AZ_Civil_Traffic_Master_Flow.jpg
  corpus-sources/arizona/civil-traffic/AdminOrder200878-1.pdf
  corpus-sources/arizona/civil-traffic/Defensive driving questions to Gavel.xlsx
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Canned responses - Live Help.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Civil Traffic Hearing Information.PDF
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/Courtroom Etiquette.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/How Will My Case Proceed.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/PE Flowchart.pdf
  corpus-sources/arizona/civil-traffic/Scottsdale Municipal Information/PE Options.pdf
  litigant_portal/app/migrations/0022_municipal_jurisdiction_level.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/choices.py
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/content/civil-traffic-options.yml
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/flows/options.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/topic.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/standard.yml
  litigant_portal/corpus/courts/north-dakota/topics/adult-name-change/flows/waiver.yml
  litigant_portal/corpus/variables.yml
  litigant_portal/prompts/courts/_schema.json
Due: prettier

fix(a11y): name the get help page's sections again
  litigant_portal/app/templates/pages/help.html
Due: none

Court branding in the court config: header name, logo and name image (#1021)
  Makefile
  litigant_portal/app/checks/corpus.py
  litigant_portal/app/context_processors.py
  litigant_portal/app/migrations/0023_site_branding.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/services/corpus.py
  litigant_portal/app/tests/conftest.py
  litigant_portal/app/tests/test_context_processors.py
  litigant_portal/app/tests/test_corpus_checks.py
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
  litigant_portal/app/tests/test_site_singleton_migration.py
  litigant_portal/corpus/courts/arizona/branding/logo.png
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/north-dakota/branding/logo.png
  litigant_portal/corpus/courts/north-dakota/branding/name.png
  litigant_portal/corpus/courts/north-dakota/court.yml
  litigant_portal/settings.py
  pyproject.toml
Due: prettier, uv-lock-check

Info pages: one shared template, with simpler, accurate content (#1029)
  litigant_portal/app/services/user.py
  litigant_portal/app/src/main.css
  litigant_portal/app/static/js/components.js
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/app/templates/pages/about.html
  litigant_portal/app/templates/pages/accessibility.html
  litigant_portal/app/templates/pages/help.html
  litigant_portal/app/templates/pages/info_base.html
  litigant_portal/app/templates/pages/privacy.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_site_frame.py
  litigant_portal/app/tests/test_start_over.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
Due: prettier

fix(account): drop the dead Terms of Service link from sign-up
  litigant_portal/app/templates/account/signup.html
Due: none

fix(pages): info page copy promises only what the portal does
  litigant_portal/app/templates/pages/about.html
  litigant_portal/app/templates/pages/accessibility.html
  litigant_portal/app/templates/pages/help.html
  litigant_portal/app/templates/pages/privacy.html
Due: none

Home page: get help page and sign-up entry points replace the placeholder blocks (#1028)
  CLAUDE.md
  litigant_portal/app/migrations/0024_contact_kind.py
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/models/choices.py
  litigant_portal/app/models/site.py
  litigant_portal/app/selectors/corpus.py
  litigant_portal/app/selectors/site.py
  litigant_portal/app/src/main.css
  litigant_portal/app/templates/account/signup.html
  litigant_portal/app/templates/cotton/molecules/contact_card.html
  litigant_portal/app/templates/cotton/molecules/flow_section_vcf.html
  litigant_portal/app/templates/cotton/molecules/site_menu.html
  litigant_portal/app/templates/cotton/molecules/user_menu.html
  litigant_portal/app/templates/cotton/organisms/auth_cta.html
  litigant_portal/app/templates/cotton/organisms/fallback_resources.html
  litigant_portal/app/templates/pages/about.html
  litigant_portal/app/templates/pages/accessibility.html
  litigant_portal/app/templates/pages/atomic_design/molecules.html
  litigant_portal/app/templates/pages/atomic_design/organisms.html
  litigant_portal/app/templates/pages/help.html
  litigant_portal/app/templates/pages/home.html
  litigant_portal/app/templates/pages/info_base.html
  litigant_portal/app/templates/pages/privacy.html
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_corpus_schema.py
  litigant_portal/app/tests/test_corpus_sync.py
  litigant_portal/app/tests/test_help_page.py
  litigant_portal/app/tests/test_site_frame.py
  litigant_portal/app/urls.py
  litigant_portal/app/views/pages.py
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/franklin-county-oh/court.yml
  litigant_portal/corpus/courts/north-dakota/court.yml
Due: prettier
