Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: migrations
default_language_version:
  python: 'python3.13'
ci:
  autoupdate_schedule: quarterly
  skip: [uv-lock-check]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown --log-level warn
        language: node
        types_or: [javascript, json, markdown, yaml, css]
        exclude: ^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)
        additional_dependencies: ['prettier@3.8.1']

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: uv-lock-check
        name: uv lock sync
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

      - id: csp-inline-check
        name: CSP inline handler check
        entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
        language: system
        files: ^templates/.*\.html$
        pass_filenames: false

test(prompts): exercise check error paths and enforce URL patterns
  chat/prompts/courts/_schema.json
  chat/tests/test_court_schema.py
Due: prettier

feat(prompts): add topic.json schema with startup validation
  chat/checks.py
  chat/prompts/__init__.py
  chat/prompts/topics/__init__.py
  chat/prompts/topics/_schema.json
  chat/prompts/topics/adult_name_change/topic.json
  chat/prompts/topics/eviction/topic.json
  chat/tests/test_topic_schema.py
Due: prettier

feat(prompts): add get_topic_name() read-site for topic.json
  chat/prompts/__init__.py
  chat/tests/test_topic_schema.py
Due: none

chore: update claude
  CLAUDE.md
Due: prettier

ci(cd): trigger QA deploy on push to qa branch instead of main
  .github/workflows/cd.yml
  CLAUDE.md
  docs/QA-DEPLOY.md
Due: prettier

feat(header): show build-time chip in dev + QA; remove hamburger
  config/settings.py
  docker-compose.yml
  docs/QA-DEPLOY.md
  portal/context_processors.py
  portal/tests.py
  src/css/main.css
  templates/cotton/organisms/header.html
Due: prettier, csp-inline-check

refactor(header): tuck dev tools + build chip into hamburger dropdown
  static/js/components.js
  templates/cotton/organisms/header.html
Due: prettier, csp-inline-check

fix(style-guide): remove broken chat-message section
  templates/pages/style_guide.html
Due: csp-inline-check

feat(package): add pydantic-fields deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(agents): add agents module
  litigant_portal/agents/__init__.py
  litigant_portal/agents/base.py
  litigant_portal/agents/weather_agent.py
Due: none

feat(app): add chat and auth views
  litigant_portal/app/urls.py
  litigant_portal/app/utils.py
  litigant_portal/app/views.py
  litigant_portal/settings.py
Due: none

feat(app): add models
  litigant_portal/app/migrations/0001_initial.py
  litigant_portal/app/migrations/0002_alter_chatmessage_thread.py
  litigant_portal/app/models.py
  litigant_portal/app/models/__init__.py
  litigant_portal/app/models/auth.py
  litigant_portal/app/models/base.py
  litigant_portal/app/models/chat.py
Due: none

feat(app): initial templates
  litigant_portal/app/static/css/main.css
  litigant_portal/app/templates/app.html
  litigant_portal/app/templates/auth/base.html
  litigant_portal/app/templates/auth/login.html
  litigant_portal/app/templates/auth/register.html
  litigant_portal/app/templates/base.html
  litigant_portal/app/templates/chat.html
  litigant_portal/app/templates/includes/brand-mark.html
  litigant_portal/app/templates/includes/chat/conversations.html
  litigant_portal/app/templates/includes/chat/script.html
  litigant_portal/app/templates/includes/chat/thread.html
  litigant_portal/app/templates/includes/icons.html
  litigant_portal/app/templates/includes/user-nav.html
  litigant_portal/app/templates/index.html
  litigant_portal/app/templates/login.html
  litigant_portal/app/templates/register.html
Due: prettier

feat(agents): move agents module to main package
  litigant_portal/agents/__init__.py
  litigant_portal/agents/base.py
  litigant_portal/agents/chat_summarization.py
  litigant_portal/agents/document_extraction.py
  litigant_portal/agents/litigant_assistant.py
  litigant_portal/agents/weather.py
Due: none

feat(pyproject): make sure submodules of litigant_portal are installed
  pyproject.toml
Due: uv-lock-check

feat(app): update references to agents module
  chat/migrations/0001_initial.py
  chat/migrations/0004_add_topic_jurisdiction_to_chatsession.py
  chat/models.py
  chat/services/chat_service.py
  chat/tests/test_agents.py
  chat/tests/test_views.py
  chat/views.py
  docs/SECURITY.md
  portal/views.py
Due: prettier

feat(archive): create an archive dir and move dashboard archive into it
  archive/README.md
  archive/dashboard-archive/README.md
  archive/dashboard-archive/css/dashboard-components.css
  archive/dashboard-archive/templates/base.html
  archive/dashboard-archive/templates/cotton/atoms/search_input.html
  archive/dashboard-archive/templates/cotton/molecules/search_bar.html
  archive/dashboard-archive/templates/cotton/molecules/topic_card.html
  archive/dashboard-archive/templates/cotton/organisms/footer.html
  archive/dashboard-archive/templates/cotton/organisms/header.html
  archive/dashboard-archive/templates/cotton/organisms/hero.html
  archive/dashboard-archive/templates/cotton/organisms/topic_grid.html
  archive/dashboard-archive/templates/dashboard.html
Due: prettier

style(archive): code format
  archive/README.md
Due: prettier

style(agents): code format
  chat/tests/test_agents.py
Due: none

chore(topic-flow): package skeleton + URL handoff in deep_link
  portal/tests.py
  portal/topic_flow/__init__.py
  portal/topic_flow/content/__init__.py
  portal/topic_flow/engine.py
  portal/topic_flow/registry.py
  portal/topic_flow/session.py
  portal/topic_flow/urls.py
  portal/topic_flow/views.py
  portal/views.py
Due: none

feat(app): add blank app template to package
  litigant_portal/app/admin.py
  litigant_portal/app/apps.py
  litigant_portal/app/checks.py
  litigant_portal/app/middleware.py
  litigant_portal/app/models/__init__.py
  litigant_portal/app/signals.py
  litigant_portal/app/templates/index.html
  litigant_portal/app/urls.py
  litigant_portal/app/views/__init__.py
  litigant_portal/app/views/chat.py
Due: none

style(app): code format
  litigant_portal/app/views/__init__.py
  litigant_portal/app/views/chat.py
Due: none

feat(app): add settings.py to project package
  litigant_portal/settings.py
Due: none

feat(docker): move caddy config and update docker compose references
  docker-compose.yml
  docker/caddy/Caddyfile.dev
  docker/caddy/Caddyfile.prod
Due: prettier

feat(package): add manage command to package
  litigant_portal/manage.py
Due: none

feat(package): add wsgi entrypoint to package
  litigant_portal/main.py
Due: none

feat(pyproject): add `manage` cli helper
  pyproject.toml
Due: uv-lock-check

feat(docker): simplify dockerignore
  .dockerignore
Due: none

feat(docker): move dockerfile to docker dir
  docker/django/Dockerfile
Due: none

feat(docker): move tailwind install script to docker dir
  docker/django/install-tailwind.sh
Due: none

feat(docker): move entrypoint script to docker dir
  docker/django/entrypoint.sh
Due: none

feat(archive): move scripts to archive dir
  Dockerfile
  archive/scripts/init-server.sh
  archive/scripts/markdown_samples/response_0.json
  archive/scripts/markdown_samples/response_1.json
  archive/scripts/markdown_samples/response_2.json
  archive/scripts/markdown_samples/response_3.json
  archive/scripts/markdown_samples/response_4.json
  archive/scripts/test_markdown.py
  archive/scripts/test_render.js
  scripts/docker-entrypoint.sh
  scripts/install-tailwind.sh
Due: prettier

feat(package): update references to moved files
  .gitignore
  Makefile
  docker-compose.yml
  docs/ARCHITECTURE.md
Due: prettier

fix(settings): validate DEPLOYMENT_ENV and warn on unknown values
  config/settings.py
Due: none

feat(archive): move scripts into old_modules
  archive/scripts/init-server.sh
  archive/scripts/markdown_samples/response_0.json
  archive/scripts/markdown_samples/response_1.json
  archive/scripts/markdown_samples/response_2.json
  archive/scripts/markdown_samples/response_3.json
  archive/scripts/markdown_samples/response_4.json
  archive/scripts/test_markdown.py
  archive/scripts/test_render.js
Due: prettier

feat(app): add project urls to app/urls.py
  litigant_portal/app/urls.py
Due: none

init(archive): delete old config files
  config/__init__.py
  config/asgi.py
  config/secrets.py
  config/settings.py
  config/tests/__init__.py
  config/tests/test_read_secret.py
  config/wsgi.py
  manage.py
  package-lock.json
  package.json
Due: prettier

style(archive): code format
  archive/old_modules/static/css/main.built.css
  archive/old_modules/static/js/alpine.js
Due: prettier
