Repository freelawproject/litigant-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, uv-lock-check, csp-inline-check

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown --log-level warn
  language: node
  additional_dependencies:
  - prettier@3.8.1

uv-lock-check:
  name: uv lock sync
  entry: uv lock --check
  language: system
  pass_filenames: false

csp-inline-check:
  name: CSP inline handler check
  entry: bash -c 'grep -rEn " on[a-z]+=|\"on[a-z]+=" templates/ && echo "ERROR - Inline event handlers violate CSP. Use addEventListener in component JS." && exit 1 || exit 0'
  language: system
  pass_filenames: false

fix(agent): PR review changes
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/views/agent.py
  lp_agent/README.md
  lp_agent/__init__.py
  lp_agent/adapters/bedrock.py
  lp_agent/errors.py
  lp_agent/flows/engagement.py
  lp_agent/flows/prompts.py
  lp_agent/interfaces.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/test_direct.py
  lp_agent/tests/test_stream.py
Due: prettier

feat(agent): eval suite buildout
  .gitignore
  Makefile
  scripts/agent_eval/README.md
  scripts/agent_eval/__init__.py
  scripts/agent_eval/__main__.py
  scripts/agent_eval/cases.yml
  scripts/agent_eval/config.yml
  scripts/agent_eval/corpus.py
  scripts/agent_eval/fixtures/chickens-a.yml
  scripts/agent_eval/fixtures/chickens-b.yml
  scripts/agent_eval/judge.py
  scripts/agent_eval/provider.py
  scripts/agent_eval/pyproject.toml
  scripts/agent_eval/references/court.yml
  scripts/agent_eval/references/provenance.json
  scripts/agent_eval/references/standard.yml
  scripts/agent_eval/references/waiver.yml
  scripts/agent_eval/remote.py
  scripts/agent_eval/report.py
  scripts/agent_eval/rubric.md
  scripts/agent_eval/runner.py
  scripts/agent_eval/schema.py
  scripts/agent_eval/systems.py
  scripts/agent_eval/uv.lock
Due: prettier

[867] Add EKS QA deploy workflow to the qa branch
  .github/workflows/qa-deploy.yml
  .github/workflows/tests.yml
  Makefile
Due: prettier

fix(docker): show docker's error only when the require-docker guard fails
  Makefile
  docs/wiki/container-runtime.md
Due: prettier

fix(agent): eval suite judge failure fix
  scripts/agent_eval/README.md
  scripts/agent_eval/__main__.py
  scripts/agent_eval/judge-format.md
  scripts/agent_eval/judge.py
  scripts/agent_eval/report.py
  scripts/agent_eval/runner.py
  scripts/agent_eval/schema.py
Due: prettier

[867] Remove the DigitalOcean CD workflow from the qa branch
  .github/workflows/cd.yml
  .github/workflows/qa-deploy.yml
  .github/workflows/tests.yml
  Makefile
Due: prettier

ci(qa): deploy on dispatch only, defaulting to main
  .github/workflows/qa-deploy.yml
Due: prettier

fix(chat): address review on the briefcase panel
  litigant_portal/app/selectors/topic_flow.py
  litigant_portal/app/templates/pages/style_guide.html
  litigant_portal/app/tests/test_briefcase.py
  litigant_portal/app/views/pages.py
  litigant_portal/app/views/utils.py
Due: none

fix(agent): straightened up some case wording
  scripts/agent_eval/cases.yml
Due: prettier

Merge pull request #877 from freelawproject/179-01-agent-evaluation-baseline
  .gitignore
  Makefile
  scripts/agent_eval/README.md
  scripts/agent_eval/__init__.py
  scripts/agent_eval/__main__.py
  scripts/agent_eval/cases.yml
  scripts/agent_eval/config.yml
  scripts/agent_eval/corpus.py
  scripts/agent_eval/fixtures/chickens-a.yml
  scripts/agent_eval/fixtures/chickens-b.yml
  scripts/agent_eval/judge-format.md
  scripts/agent_eval/judge.py
  scripts/agent_eval/provider.py
  scripts/agent_eval/pyproject.toml
  scripts/agent_eval/references/court.yml
  scripts/agent_eval/references/provenance.json
  scripts/agent_eval/references/standard.yml
  scripts/agent_eval/references/waiver.yml
  scripts/agent_eval/remote.py
  scripts/agent_eval/report.py
  scripts/agent_eval/rubric.md
  scripts/agent_eval/runner.py
  scripts/agent_eval/schema.py
  scripts/agent_eval/systems.py
  scripts/agent_eval/uv.lock
Due: prettier

feat(agent): added agent database surfaces
  lp_agent/adapters/db.py
  lp_agent/corpus/db_search.py
  lp_agent/flows/checks.py
  lp_agent/flows/judge.py
  lp_agent/flows/new_engagement.py
  lp_agent/flows/prompts.py
  lp_agent/pytest.ini
  lp_agent/tests/providers/test_database.py
  lp_agent/tests/test_corpus.py
  lp_agent/tools/__init__.py
  lp_agent/tools/agent_search.py
  lp_agent/types.py
Due: none

fix(agent): fixed ruff lint issue
  lp_agent/adapters/db.py
  lp_agent/flows/checks.py
  lp_agent/flows/judge.py
  lp_agent/flows/new_engagement.py
  lp_agent/flows/prompts.py
Due: none

fix(services): deny a keyed prefill without a base
  .env.example
  litigant_portal/app/services/docassemble.py
  litigant_portal/app/tests/test_docassemble_client.py
Due: none

docs(docassemble): note the origin-only public URL
  .env.example
  docassemble/nd-name-change/README.md
Due: prettier

fix(topic_flow): skip when there is nothing to prefill
  litigant_portal/app/tests/test_docassemble_client.py
  litigant_portal/app/tests/test_topic_flow_interview_view.py
  litigant_portal/app/views/topic_flow.py
Due: none

feat(agent): fixtures for db tests
  lp_agent/README.md
  lp_agent/pytest.ini
  lp_agent/tests/fixtures/agent_db/README.md
  lp_agent/tests/fixtures/agent_db/agent_constraints.sql
  lp_agent/tests/fixtures/agent_db/agent_search.sql
  lp_agent/tests/fixtures/agent_db/agent_tables.sql
  lp_agent/tests/providers/test_database.py
Due: prettier

feat(agent): connection facotry & polish
  lp_agent/README.md
  lp_agent/adapters/connections.py
  lp_agent/adapters/db.py
  lp_agent/adapters/memory.py
  lp_agent/corpus/db_search.py
  lp_agent/flows/engagement.py
  lp_agent/interfaces.py
  lp_agent/tests/fixtures/agent_db/README.md
  lp_agent/tests/fixtures/agent_db/setup_agent_db.py
  lp_agent/tests/providers/test_database.py
  lp_agent/tests/test_direct.py
  lp_agent/tests/test_memory.py
  lp_agent/tests/test_stream.py
  lp_agent/tools/agent_search.py
  lp_agent/types.py
Due: prettier

docs(architecture): system overview diagram (Mermaid / C4)
  docs/architecture/system-overview.md
Due: prettier

Change copyright from individuals to Free Law Project
  LICENSE
Due: none

Trim whitespace
  LICENSE
Due: none

docs(architecture): system architecture diagram in draw.io (AWS4)
  docs/architecture/README.md
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
  docs/architecture/system-overview.md
Due: prettier

docs(architecture): per-court AWS account relabel + EKS breakout
  docs/architecture/README.md
  docs/architecture/eks-breakout.drawio
  docs/architecture/eks-breakout.drawio.svg
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: prettier

feat(agent): new engagement flow and corpus loading
  lp_agent/README.md
  lp_agent/adapters/bedrock.py
  lp_agent/adapters/environment.py
  lp_agent/adapters/preparation.py
  lp_agent/adapters/session.py
  lp_agent/demo/README.md
  lp_agent/demo/__init__.py
  lp_agent/demo/live_results.json
  lp_agent/demo/seed.py
  lp_agent/demo/smoke.py
  lp_agent/errors.py
  lp_agent/flows/checks.py
  lp_agent/flows/engagement.py
  lp_agent/flows/judge.py
  lp_agent/flows/new_engagement.py
  lp_agent/flows/procedure.py
  lp_agent/flows/prompts.py
  lp_agent/identity.py
  lp_agent/main.py
  lp_agent/preparation.py
  lp_agent/runtimes/direct.py
  lp_agent/runtimes/stream.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/providers/test_engagement.py
  lp_agent/tests/test_preparation_checks.py
  lp_agent/tools/agent_search.py
  lp_agent/tools/engagement.py
Due: prettier

feat(agent): judge model engaged
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/views/agent.py
  lp_agent/README.md
  lp_agent/flows/judge.py
  lp_agent/flows/prompts.py
  lp_agent/tests/fixtures/preparation.py
  lp_agent/tests/providers/test_engagement.py
  lp_agent/tests/test_answer_review.py
Due: prettier

feat(agent): judge model corrections
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/tests/test_agent_development.py
  lp_agent/adapters/conversations.py
  lp_agent/flows/judge.py
  lp_agent/flows/new_engagement.py
  lp_agent/flows/prompts.py
  lp_agent/tests/providers/test_engagement.py
Due: prettier

feat(agent): changed the agent eval to use the db for corpus
  scripts/agent_eval/README.md
  scripts/agent_eval/agent_corpus.py
  scripts/agent_eval/config.yml
  scripts/agent_eval/judge-format.md
  scripts/agent_eval/judge.py
  scripts/agent_eval/provider.py
  scripts/agent_eval/remote.py
  scripts/agent_eval/systems.py
  scripts/agent_eval/test_judge.py
  scripts/agent_eval/test_provider.py
Due: prettier

fix(agent): fixed eval and eval recovery error
  scripts/agent_eval/README.md
  scripts/agent_eval/__main__.py
  scripts/agent_eval/report.py
  scripts/agent_eval/schema.py
  scripts/agent_eval/test_judge.py
  scripts/agent_eval/test_recovery.py
Due: prettier

feat(ui): polishing the agent development page
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/templates/pages/agent/development.html
Due: prettier

fix(agent): fixing hung response
  litigant_portal/app/static/js/agent_development.js
  litigant_portal/app/templates/pages/agent/development.html
  litigant_portal/app/tests/js/agent_development.test.cjs
  litigant_portal/app/tests/test_agent_development.py
  lp_agent/adapters/bedrock.py
  lp_agent/errors.py
  lp_agent/flows/engagement.py
  lp_agent/flows/new_engagement.py
  lp_agent/tests/providers/test_bedrock.py
  lp_agent/tests/providers/test_engagement.py
Due: prettier

docs(architecture): redraw the system diagram as the deployed topology
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: none

docs(architecture): add the per-court isolation target as its own diagram
  docs/architecture/target-isolation.drawio
  docs/architecture/target-isolation.drawio.svg
Due: none

docs(architecture): correct and re-space the EKS breakout
  docs/architecture/eks-breakout.drawio
  docs/architecture/eks-breakout.drawio.svg
Due: none

docs(architecture): document the diagram split and the icon label-wrap rule
  docs/architecture/README.md
Due: prettier

docs(architecture): add the legend and colour court-authored content
  docs/architecture/README.md
  docs/architecture/system-architecture.drawio
  docs/architecture/system-architecture.drawio.svg
Due: prettier

build(deps): run dependabot monthly, and cover uv and pre-commit
  .github/dependabot.yml
Due: prettier

feat(db): temp qa seed data
  .env.example
  docker-compose.yml
  docs/qa-agent-poc.md
  litigant_portal/app/management/commands/sync_corpus.py
  litigant_portal/app/migrations/0019_agent_schema.py
  litigant_portal/app/migrations/agent_sql_0019/agent_constraints.sql
  litigant_portal/app/migrations/agent_sql_0019/agent_search.sql
  litigant_portal/app/migrations/agent_sql_0019/agent_tables.sql
  litigant_portal/app/migrations/max_migration.txt
  litigant_portal/app/services/agent_corpus.py
  litigant_portal/app/tests/test_agent_database_config.py
  litigant_portal/app/tests/test_agent_development.py
  litigant_portal/app/tests/test_agent_schema_migration.py
  litigant_portal/settings.py
  lp_agent/README.md
  lp_agent/adapters/session.py
  lp_agent/corpus/sync.py
  lp_agent/tests/fixtures/agent_db/README.md
  lp_agent/tests/fixtures/agent_db/setup_agent_db.py
  lp_agent/tests/fixtures/preparation.py
  lp_agent/tests/providers/test_corpus_sync.py
  lp_agent/tests/providers/test_database.py
  lp_agent/tests/providers/test_engagement.py
  pyproject.toml
Due: prettier, uv-lock-check

fix(db): removing LiteLLM from just Django
  litigant_portal/agents/tools/query_document.py
  litigant_portal/app/tests/test_management_startup.py
  litigant_portal/app/tests/test_query_document.py
Due: none

docs: document the PR review hand-off, drop the stale REVIEW.md
  CLAUDE.md
  CONTRIBUTING.md
  REVIEW.md
Due: prettier

feat(corpus): first-draft AZ civil traffic corpus (Scottsdale)
  litigant_portal/corpus/courts/arizona/court.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/flows/civil-traffic.yml
  litigant_portal/corpus/courts/arizona/topics/civil-traffic/topic.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.css$ and not (^(node_modules/|\.venv/|staticfiles/|static/css/main\.built\.css|package-lock\.json|uv\.lock)) and not (migrations)
  uv-lock-check: any of: ^pyproject\.toml$, but not: migrations
  csp-inline-check: any of: ^templates/.*\.html$, but not: migrations
